tests/laconversion/input/int_getContactId.json
{
  
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Get_Contact": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['salesForceConnection']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Contact'))}/items",
                            "queries": {
                                "$filter": "Email eq '@{triggerBody()?['Email']}'",
                                "$select": "Id"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "getContactId_using_Email": {
                        "actions": {
                            "Set_variable_if_Email_Exists": {
                                "inputs": {
                                    "name": "getContactIdResponse",
                                    "value": {
                                        "Email": "@{triggerBody()?['Email']}",
                                        "Id": "@{body('Get_Contact')?['value']?[0]?['Id']}",
                                        "status": "@{if(equals(length(body('Get_Contact')?['value']),0),'failure','success')}"
                                    }
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable_if_Email_does_not_Exist": {
                                    "inputs": {
                                        "name": "getContactIdResponse",
                                        "value": {
                                            "Email": "@{triggerBody()?['Email']}",
                                            "Id": "",
                                            "message": "Provided Email could not be found in SieSales",
                                            "status": "@{if(equals(length(body('Get_Contact')?['value']),0),'failure','success')}"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@length(coalesce(body('Get_Contact')?['value'],''))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Get_Contact": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    }
                },
                "else": {
                    "actions": {
                        "Set_variable_if_Email_doesnt_exist": {
                            "inputs": {
                                "name": "getContactIdResponse",
                                "value": {
                                    "Email": "@{triggerBody()?['Email']}",
                                    "Id": "",
                                    "message": "No Email Address passed",
                                    "status": "failure"
                                }
                            },
                            "runAfter": {},
                            "type": "SetVariable"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['Email']",
                                    "@null"
                                ]
                            }
                        },
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['Email']",
                                    "@string('')"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "getContactIdResponse",
                            "type": "object",
                            "value": {
                                "Email": "",
                                "Id": "",
                                "message": "",
                                "status": ""
                            }
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('getContactIdResponse')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "Email": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
