tests/laconversion/GOI/shared/internal-SIE_SF4S_searchContact.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "actions": {
    "Initialize_contact_response": {
      "inputs": {
        "variables": [
          {
            "name": "ContactResponse",
            "type": "string",
            "value": "{\n  \"Contact\": {\n    \"CONTACT_LANGUAGE\": \"\",\n    \"CONTACT_PERSON_ADDRESS_1\": \"\",\n    \"CONTACT_PERSON_ADDRESS_2\": \"\",\n    \"CONTACT_PERSON_CITY\": \"\",\n    \"CONTACT_PERSON_ZIP_POST_CODE\": \"\",\n    \"FIRST_NAME\": \"\",\n    \"GENDER\": \"\",\n    \"INITIALS\": \"\",\n    \"LAST_NAME\": \"\",\n    \"LAST_NAME_NL\": \"\",\n    \"MIDDLE_NAME\": \"\",\n    \"ROW_ID\": \"\",\n    \"SUFFIX\": \"\",\n    \"TITLE\": \"\"\n  }\n}"
          }
        ]
      },
      "runAfter": {},
      "type": "InitializeVariable"
    },
    "Initialize_filter_condition": {
      "inputs": {
        "variables": [
          {
            "name": "ContactWhereClause",
            "type": "string",
            "value": "@{triggerOutputs()['headers']?['WhereClause']}"
          }
        ]
      },
      "runAfter": {},
      "type": "InitializeVariable"
    },
    "Scope_-_Catch": {
      "actions": {
        "Send_empty_reponse_in_case_of_failure": {
          "inputs": {
            "body": "@null",
            "headers": {
              "Content-Type": "application/json"
            },
            "statusCode": 200
          },
          "kind": "Http",
          "runAfter": {},
          "type": "Response"
        }
      },
      "runAfter": {
        "Scope_-_Try": ["Failed", "Skipped", "TimedOut"]
      },
      "type": "Scope"
    },
    "Scope_-_Try": {
      "actions": {
        "Condition_to_check_totalSize_of_Contact": {
          "actions": {
            "Success_Response": {
              "inputs": {
                "body": "@body('Contact')?['records']",
                "headers": {
                  "Content-Type": "application/json"
                },
                "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {},
              "type": "Response"
            },
            "Terminate": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Success_Response": ["Succeeded"]
              },
              "type": "Terminate"
            }
          },
          "else": {
            "actions": {
              "Empty_Response": {
                "inputs": {
                  "body": "@variables('ContactResponse')",
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {},
                "type": "Response"
              },
              "Terminate_2": {
                "inputs": {
                  "runStatus": "Succeeded"
                },
                "runAfter": {
                  "Empty_Response": ["Succeeded"]
                },
                "type": "Terminate"
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": ["@body('Contact')?['totalSize']", 0]
              }
            ]
          },
          "runAfter": {
            "Contact": ["Succeeded"]
          },
          "type": "If"
        },
        "Contact": {
          "inputs": {
            "body": {
              "query": "SELECT Id,AccountID,LastName,FirstName,Salutation,MiddleName,Suffix,OtherStreet,OtherCity,OtherPostalCode,OtherCountry,Phone,Fax,MobilePhone,HomePhone,Email,Department,Description,OwnerId,DoNotCall,CreatedDate,CreatedById,LastModifiedDate,S4SAcademic_Title__c,S4SDepartment_Type__c,S4SDouble_Opt_In__c,S4SFull_Name__c,S4SGender__c,S4SInitial__c,S4SJob_Description__c,S4SJob_Specification__c,S4SLanguage__c,S4SMarked_for_Deletion__c,S4SNever_Email__c,S4SNever_Mail__c,S4SNo_Marketing__c,S4SStatus__c,S4SSFS_Confidential__c FROM Contact where @{variables('ContactWhereClause')}"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['salesForceConnection']['connectionId']"
              }
            },
            "method": "post",
            "path": "/soql/executesoqlquery"
          },
          "runAfter": {},
          "type": "ApiConnection"
        }
      },
      "runAfter": {
        "Initialize_contact_response": ["Succeeded"],
        "Initialize_filter_condition": ["Succeeded"]
      },
      "trackedProperties": {
        "apimRouting": "@{coalesce(triggerOutputs()?['headers']?['apimRouting'], 'not-defined')}",
        "citizenName": "c00031",
        "correlationId": "@{coalesce(triggerOutputs()?['headers']?['correlationId'], triggerOutputs()?['headers']?['x-ms-client-tracking-id'], 'not-defined')}",
        "interfaceName": "@{coalesce(triggerOutputs()?['headers']?['interfaceName'], 'GOI')}",
        "interfacePartner": "@{coalesce(triggerOutputs()?['headers']?['Username'], 'not-defined')}",
        "interfaceVersion": "@{coalesce(triggerOutputs()?['headers']?['interfaceVersion'], 'not-defined')}",
        "operationName": "@{coalesce(triggerOutputs()?['headers']?['operationName'], 'searchContactInternal')}",
        "parentWorkflow": "@{coalesce(triggerOutputs()?['headers']?['x-ms-workflow-name'],'not-defined')}"
      },
      "type": "Scope"
    }
  },
  "contentVersion": "1.0.0.0",
  "outputs": {},
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "manual": {
      "inputs": {
        "schema": {}
      },
      "kind": "Http",
      "type": "Request"
    }
  }
}
