tests/laconversion/output/int_upsertEventRelation/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Create_record": {
        "inputs": {
          "body": {
            "EventId": "@triggerBody()?['EventId']",
            "IsInvitee": "@bool(triggerBody()?['isInvitee'])",
            "RelationId": "@triggerBody()?['RelationId']"
          },
          "path": "/v2/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('EventRelation'))}/items",
          "host": {
            "connection": {
              "referenceName": "salesForceConnection"
            }
          },
          "method": "post"
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "SuccessDuplicateResponse": {
        "inputs": {
          "body": "@if(contains(body('Create_record')?['message'],'duplicate'),'duplicate','failure')",
          "statusCode": 200
        },
        "kind": "Http",
        "runAfter": {
          "Create_record": [
            "Failed"
          ]
        },
        "type": "Response"
      },
      "SuccessResponse": {
        "inputs": {
          "body": "@body('Create_record')?['Response']",
          "statusCode": 200
        },
        "kind": "Http",
        "runAfter": {
          "Create_record": [
            "Succeeded"
          ]
        },
        "type": "Response"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "EventId": {
                "type": "string"
              },
              "RelationId": {
                "type": "string"
              },
              "isInvitee": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}
