tests/laconversion/output/int_upsertContact/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose": {
        "inputs": "@json( replace(replace(string(triggerBody()),'False','false'),'True','true'))",
        "runAfter": {},
        "type": "Compose"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "contactResponse",
              "type": "object",
              "value": {
                "Created": "",
                "Id": "",
                "Message": "",
                "Status": ""
              }
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "JsonRemoveNullOrEmptyFunc": {
        "inputs": {
          "body": {
            "CorrelationId": "@{triggerOutputs()['headers']?['correlationid']}",
            "InputRequestBase64": "@{base64(outputs('Compose'))}",
            "InterfaceName": "upsertContact",
            "Username": "@{triggerOutputs()['headers']?['Username']}",
            "operation": "JsonRemoveNullOrEmpty"
          },
          "function": {
            "connectionName": "Liquid"
          },
          "headers": null,
          "method": "POST"
        },
        "runAfter": {
          "Compose": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "Main": {
        "actions": {
          "Catch": {
            "actions": {
              "Set_Catch_Response": {
                "inputs": {
                  "body": {
                    "Created": "@{or(if(equals(outputs('Create_Contact')?['statusCode'],500),'false','true'),if(equals(outputs('Update_Contact')?['statusCode'],500),'false','true'))}",
                    "Id": "@{coalesce(triggerBody()?['Contact']?['Id'],'')}",
                    "Message": "@{coalesce(body('Create_Contact')?['message'],body('Update_Contact')?['message'])}",
                    "Status": "@{or(if(equals(outputs('Create_Contact')?['statusCode'],500),'failure','success'),if(equals(outputs('Update_Contact')?['statusCode'],500),'failure','success'))}"
                  },
                  "statusCode": 500
                },
                "kind": "Http",
                "runAfter": {
                  "Terminate": [
                    "Succeeded"
                  ]
                },
                "type": "Response"
              },
              "Terminate": {
                "inputs": {
                  "runError": {
                    "message": "Upsert Activity Failure"
                  },
                  "runStatus": "Failed"
                },
                "runAfter": {},
                "type": "Terminate"
              }
            },
            "runAfter": {
              "Try": [
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "type": "Scope"
          },
          "Try": {
            "actions": {
              "Condition_if_Contact_Id_Exists": {
                "actions": {
                  "Set_variable": {
                    "inputs": {
                      "name": "contactResponse",
                      "value": {
                        "Created": "false",
                        "Id": "@{body('get_Contact_Id_from_Email')?['Id']}",
                        "Message": "@{coalesce(body('get_Contact_Id_from_Email')?['message'],'')}",
                        "Status": "@{if(equals(outputs('get_Contact_Id_from_Email')?['statusCode'],200),'success','failure')}"
                      }
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                },
                "else": {
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Set_Response_for_Update": {
                          "inputs": {
                            "name": "contactResponse",
                            "value": {
                              "Created": "false",
                              "Id": "@{triggerBody()?['Contact']?['Id']}",
                              "Message": "@{coalesce(body('Update_Contact')?['message'],'')}",
                              "Status": "@{if(equals(outputs('Update_Contact')?['statusCode'],200),'success',if(equals(outputs('Update_Contact')?['statusCode'],201),'success','failure'))}"
                            }
                          },
                          "runAfter": {
                            "Update_Contact": [
                              "Succeeded",
                              "Skipped",
                              "Failed",
                              "TimedOut"
                            ]
                          },
                          "type": "SetVariable"
                        },
                        "Update_Contact": {
                          "inputs": {
                            "body": "@json(body('JsonRemoveNullOrEmptyFunc')?['result']?['restructuredJson'])?['Contact']",
                            "path": "/v3/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Contact'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Contact']?['Id']))}",
                            "host": {
                              "connection": {
                                "referenceName": "salesForceConnection"
                              }
                            },
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "method": "patch"
                          },
                          "runAfter": {},
                          "type": "ApiConnection"
                        }
                      },
                      "else": {
                        "actions": {
                          "Create_Contact": {
                            "inputs": {
                              "body": "@json(body('JsonRemoveNullOrEmptyFunc')?['result']?['restructuredJson'])?['Contact']",
                              "path": "/v2/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Contact'))}/items",
                              "host": {
                                "connection": {
                                  "referenceName": "salesForceConnection"
                                }
                              },
                              "headers": {
                                "Content-Type": "application/json"
                              },
                              "method": "post"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                          },
                          "Set_Response_for_Create": {
                            "inputs": {
                              "name": "contactResponse",
                              "value": {
                                "Created": "@{if(equals(outputs('Create_Contact')?['statusCode'],201),'true','false')}",
                                "Id": "@{coalesce(body('Create_Contact')?['Id'],'')}",
                                "Message": "@{coalesce(body('Create_Contact')?['message'],'')}",
                                "Status": "@{if(equals(outputs('Create_Contact')?['statusCode'],200),'success',if(equals(outputs('Create_Contact')?['statusCode'],201),'success','failure'))}"
                              }
                            },
                            "runAfter": {
                              "Create_Contact": [
                                "Succeeded",
                                "TimedOut",
                                "Skipped",
                                "Failed"
                              ]
                            },
                            "type": "SetVariable"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@triggerBody()?['Contact']?['Id']",
                                "@null"
                              ]
                            }
                          },
                          {
                            "not": {
                              "equals": [
                                "@triggerBody()?['Contact']?['Id']",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "runAfter": {},
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@body('get_Contact_Id_from_Email')?['Id']",
                          "@null"
                        ]
                      }
                    },
                    {
                      "not": {
                        "equals": [
                          "@body('get_Contact_Id_from_Email')?['Id']",
                          "@string('')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {
                  "get_Contact_Id_from_Email": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Set_Try_Response": {
                "inputs": {
                  "body": "@variables('contactResponse')",
                  "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                  "Condition_if_Contact_Id_Exists": [
                    "Succeeded"
                  ]
                },
                "type": "Response"
              },
              "get_Contact_Id_from_Email": {
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "int_getcontactid"
                    }
                  },
                  "body": {
                    "Email": "@triggerBody()?['Contact']?['Email']"
                  },
                  "headers": null
                },
                "runAfter": {},
                "type": "Workflow"
              }
            },
            "runAfter": {},
            "type": "Scope"
          }
        },
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ],
          "JsonRemoveNullOrEmptyFunc": [
            "Succeeded"
          ]
        },
        "type": "Scope"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "Contact": {
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AssistantName": {
                    "type": "string"
                  },
                  "AssistantPhone": {
                    "type": "string"
                  },
                  "Birthdate": {
                    "type": "string"
                  },
                  "CurrencyIsoCode": {
                    "type": "string"
                  },
                  "DPML__Employee_Number__c": {
                    "type": "string"
                  },
                  "Department": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  },
                  "DoNotCall": {
                    "type": "string"
                  },
                  "Email": {
                    "type": "string"
                  },
                  "Fax": {
                    "type": "string"
                  },
                  "FirstName": {
                    "type": "string"
                  },
                  "HasOptedOutOfEmail": {
                    "type": "string"
                  },
                  "HasOptedOutOfFax": {
                    "type": "string"
                  },
                  "HomePhone": {
                    "type": "string"
                  },
                  "Id": {
                    "type": "string"
                  },
                  "IndividualId": {
                    "type": "string"
                  },
                  "Jigsaw": {
                    "type": "string"
                  },
                  "LID__LinkedIn_Company_Id__c": {
                    "type": "string"
                  },
                  "LID__LinkedIn_Member_Token__c": {
                    "type": "string"
                  },
                  "LastName": {
                    "type": "string"
                  },
                  "LeadSource": {
                    "type": "string"
                  },
                  "MobilePhone": {
                    "type": "string"
                  },
                  "OtherPhone": {
                    "type": "string"
                  },
                  "OwnerId": {
                    "type": "string"
                  },
                  "Phone": {
                    "type": "string"
                  },
                  "RecordTypeId": {
                    "type": "string"
                  },
                  "ReportsToId": {
                    "type": "string"
                  },
                  "S4SAcademic_Title__c": {
                    "type": "string"
                  },
                  "S4SAlternative_First_Name__c": {
                    "type": "string"
                  },
                  "S4SAlternative_Last_Name__c": {
                    "type": "string"
                  },
                  "S4SCONTACT_LegacyID__c": {
                    "type": "string"
                  },
                  "S4SData_Admin__c": {
                    "type": "string"
                  },
                  "S4SDepartment_Type__c": {
                    "type": "string"
                  },
                  "S4SDepartment_converted__c": {
                    "type": "string"
                  },
                  "S4SDouble_Opt_In_Date__c": {
                    "type": "string"
                  },
                  "S4SDouble_Opt_In__c": {
                    "type": "string"
                  },
                  "S4SEmail_Duplicate__c": {
                    "type": "string"
                  },
                  "S4SEmail_encoding__c": {
                    "type": "string"
                  },
                  "S4SExternal_Source__c": {
                    "type": "string"
                  },
                  "S4SGender__c": {
                    "type": "string"
                  },
                  "S4SInitial__c": {
                    "type": "string"
                  },
                  "S4SJob_Description__c": {
                    "type": "string"
                  },
                  "S4SJob_Level__c": {
                    "type": "string"
                  },
                  "S4SJob_Role__c": {
                    "type": "string"
                  },
                  "S4SJob_Specification__c": {
                    "type": "string"
                  },
                  "S4SLanguage__c": {
                    "type": "string"
                  },
                  "S4SLanguage_encoding__c": {
                    "type": "string"
                  },
                  "S4SLead_Central_Enabled_Contact__c": {
                    "type": "string"
                  },
                  "S4SLegitimate_Interest__c": {
                    "type": "string"
                  },
                  "S4SLinkedIn_URL__c": {
                    "type": "string"
                  },
                  "S4SLocale_encoding__c": {
                    "type": "string"
                  },
                  "S4SManagement_Level__c": {
                    "type": "string"
                  },
                  "S4SNever_Email__c": {
                    "type": "string"
                  },
                  "S4SNever_Mail__c": {
                    "type": "string"
                  },
                  "S4SNever_Survey__c": {
                    "type": "string"
                  },
                  "S4SNo_Marketing__c": {
                    "type": "string"
                  },
                  "S4SOpt_Out_Date__c": {
                    "type": "string"
                  },
                  "S4SOpt_Out__c": {
                    "type": "string"
                  },
                  "S4SPartner_Contact_Role__c": {
                    "type": "string"
                  },
                  "S4SRestricted_Phone__c": {
                    "type": "string"
                  },
                  "S4SSelf_Employed__c": {
                    "type": "string"
                  },
                  "S4SSpecification_converted__c": {
                    "type": "string"
                  },
                  "S4SStatus__c": {
                    "type": "string"
                  },
                  "S4STimezone__c": {
                    "type": "string"
                  },
                  "S4SUser_ID__c": {
                    "type": "string"
                  },
                  "S4SVisibility__c": {
                    "type": "string"
                  },
                  "S4S_Converted_from_Lead__c": {
                    "type": "string"
                  },
                  "Title": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}
