tests/laconversion/batch 3/flow-getSFOauthToken/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "GetToken": {
        "inputs": {
          "body": "@concat('grant_type=',encodeUriComponent('password'), '&client_id=', encodeUriComponent(json(body('GetConfiguration'))?['clientId']),'&client_secret=', encodeUriComponent(json(body('GetConfiguration'))?['clientSecret']), '&username=', encodeUriComponent(json(body('GetConfiguration'))?['username']), '&password=', encodeUriComponent(json(body('GetConfiguration'))?['password']))",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          "method": "POST",
          "uri": "@{json(body('getConfiguration'))?['tokenEndpoint']}"
        },
        "runAfter": {
          "getConfiguration": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Response": {
        "inputs": {
          "body": "@body('GetToken')",
          "headers": {
            "Content-Type": "application/json"
          },
          "statusCode": 200
        },
        "kind": "Http",
        "runAfter": {
          "GetToken": [
            "Succeeded"
          ]
        },
        "type": "Response"
      },
      "getConfiguration": {
        "inputs": {
          "host": {
            "workflow": {
              "id": "getConfiguration"
            }
          },
          "body": {
            "key": "@{parameters(concat('tokenConfig-', triggerBody()?['tokenType']))}"
          },
          "headers": null
        },
        "runAfter": {},
        "type": "Workflow"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "tokenType": {
                "description": "Type of Token to generate",
                "enum": [
                  "sfs",
                  "nonsfs",
                  "iService",
                  "SieINT"
                ],
                "type": "string"
              }
            },
            "required": [
              "tokenType"
            ],
            "type": "object"
          }
        },
        "kind": "Http",
        "operationOptions": "EnableSchemaValidation",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}
