tests/laconversion/batch 2/GOI_V1_getAccountContact.json
{
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition_Check_resultSpecification": {
                "actions": {
                    "Scope_Catch": {
                        "actions": {
                            "Compose_Error_Message": {
                                "inputs": {
                                    "input": "@createArray(result('For_each_Account'), result('For_each_AccountId'),  result('Condition_Matches_in_Account_Contact_Query'), result('Condition_Matches_in_Account_Query'),  result('Switch_Condition'), result('Scope_Try'))"
                                },
                                "runAfter": {},
                                "type": "Compose"
                            },
                            "Error_Response": {
                                "inputs": {
                                    "body": "@body('Set_Error_Message')",
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "statusCode": 500
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Set_Error_Message": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Error_Message": {
                                "inputs": {
                                    "authentication": {
                                        "type": "Raw",
                                        "value": "[parameters('functionAppKey')]"
                                    },
                                    "body": "@outputs('Compose_Error_Message')",
                                    "function": {
                                        "id": "[concat(parameters('funcApp'), '/functions/LiquidTransformer')]"
                                    },
                                    "headers": {
                                        "Accept": "application/json",
                                        "Content-Type": "application/json",
                                        "Filename": "${liquid_setError}"
                                    },
                                    "method": "POST"
                                },
                                "runAfter": {
                                    "Compose_Error_Message": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Function"
                            },
                            "Terminate": {
                                "inputs": {
                                    "runError": {
                                        "code": "500"
                                    },
                                    "runStatus": "Failed"
                                },
                                "runAfter": {
                                    "Error_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Terminate"
                            }
                        },
                        "runAfter": {
                            "Scope_Try": [
                                "Failed"
                            ]
                        },
                        "type": "Scope"
                    },
                    "Scope_Try": {
                        "actions": {
                            "Compose_Final_Response": {
                                "inputs": {
                                    "authentication": {
                                        "type": "Raw",
                                        "value": "[parameters('functionAppKey')]"
                                    },
                                    "body": {
                                        "accounts": "@json(string(variables('Accs')))",
                                        "contacts": "@json(string(variables('Cont')))",
                                        "excludeNulls": "@triggerBody()?['searchAccountContactRequest']?['excludeNulls']",
                                        "resultSpecification": "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']"
                                    },
                                    "function": {
                                        "id": "[concat(parameters('funcApp'), '/functions/LiquidTransformer')]"
                                    },
                                    "headers": {
                                        "Accept": "application/json",
                                        "Content-Type": "application/json",
                                        "Filename": "${liquid_response}"
                                    },
                                    "method": "POST",
                                    "retryPolicy": {
                                        "type": "none"
                                    }
                                },
                                "runAfter": {
                                    "Switch_Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Function"
                            },
                            "Final_Response": {
                                "inputs": {
                                    "body": {
                                        "searchAccountContactResponse": {
                                            "@{if(\r\n        or(or(equals(toUpper(triggerBody()?['searchAccountContactRequest']?['resultSpecification']), 'AC'), equals(toUpper(triggerBody()?['searchAccountContactRequest']?['resultSpecification']), 'CA')), equals(toUpper(triggerBody()?['searchAccountContactRequest']?['resultSpecification']), 'A')),\r\n        string('Account'),\r\n        string('Contact')\r\n)}": "@if(\r\n        or(or(equals(toUpper(triggerBody()?['searchAccountContactRequest']?['resultSpecification']), 'AC'), equals(toUpper(triggerBody()?['searchAccountContactRequest']?['resultSpecification']), 'CA')), equals(toUpper(triggerBody()?['searchAccountContactRequest']?['resultSpecification']), 'A')),\r\n        body('Compose_Final_Response')?['Account'],\r\n        body('Compose_Final_Response')?['Contact']\r\n)",
                                            "success": "@true",
                                            "workflowRunId": "@workflow()?['run']?['name']"
                                        }
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Compose_Final_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Prepare_Where_Clauses": {
                                "inputs": {
                                    "authentication": {
                                        "type": "Raw",
                                        "value": "[parameters('functionAppKey')]"
                                    },
                                    "body": {
                                        "account": "@triggerBody()?['searchAccountContactRequest']?['Account']",
                                        "contact": "@triggerBody()?['searchAccountContactRequest']?['Contact']",
                                        "resultSpecification": "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']"
                                    },
                                    "function": {
                                        "id": "[concat(parameters('funcApp'), '/functions/LiquidTransformer')]"
                                    },
                                    "headers": {
                                        "Accept": "application/json",
                                        "Content-Type": "application/json",
                                        "Filename": "${liquid_where}"
                                    },
                                    "method": "POST",
                                    "retryPolicy": {
                                        "type": "none"
                                    }
                                },
                                "runAfter": {},
                                "type": "Function"
                            },
                            "Switch_Condition": {
                                "cases": {
                                    "Case_Account_and_Contact": {
                                        "actions": {
                                            "Condition_Matches_in_Account_Contact_Query": {
                                                "actions": {
                                                    "Condition_Id_Account_Contact_Search": {
                                                        "actions": {
                                                            "For_each_Account": {
                                                                "actions": {
                                                                    "Append_to_Accounts_Array": {
                                                                        "inputs": {
                                                                            "name": "Accs",
                                                                            "value": "@addProperty(items('For_each_Account')?['Account'], string('S4SIdentification_Number__c'), if(greaterOrEquals(body('Query_Identification_Number')?['totalSize'], 1),body('Query_Identification_Number')?['records'],null))"
                                                                        },
                                                                        "runAfter": {
                                                                            "Query_Identification_Number": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "AppendToArrayVariable"
                                                                    },
                                                                    "Append_to_Contacts_Array": {
                                                                        "inputs": {
                                                                            "name": "Cont",
                                                                            "value": "@items('For_each_Account')?['Contact']"
                                                                        },
                                                                        "runAfter": {
                                                                            "Query_Identification_Number": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "AppendToArrayVariable"
                                                                    },
                                                                    "Query_Identification_Number": {
                                                                        "inputs": {
                                                                            "headers": {
                                                                                "Authorization": "Bearer @{body('HTTP_Get_SF_Token')}"
                                                                            },
                                                                            "method": "GET",
                                                                            "queries": {
                                                                                "q": "SELECT S4SIdentification_Number__c, S4SLocal_Source_System__c from S4SIdentification_Number__c  @{concat( \r\n        body('Prepare_Where_Clauses')?['identification_clause'], \r\n        if(\r\n                or(equals(body('Prepare_Where_Clauses')?['identification_clause'], string('')), equals(body('Prepare_Where_Clauses')?['identification_clause'], null)),\r\n                string('WHERE S4SAccount__c = '),\r\n                string(' AND S4SAccount__c = ')\r\n        ), \r\n        string(''''), items('For_each_Account')?['Account']?['Id'], string(''''), \r\n        string(' LIMIT 200')\r\n)}"
                                                                            },
                                                                            "retryPolicy": {
                                                                                "type": "none"
                                                                            },
                                                                            "uri": "${instance_NonSFS_URL}/query"
                                                                        },
                                                                        "runAfter": {},
                                                                        "type": "Http"
                                                                    }
                                                                },
                                                                "foreach": "@body('Query_Accounts_Contacts_Relationship')?['records']",
                                                                "runAfter": {},
                                                                "runtimeConfiguration": {
                                                                    "concurrency": {
                                                                        "repetitions": 50
                                                                    }
                                                                },
                                                                "type": "Foreach"
                                                            }
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "Compose_Arrays_Accounts_Contacts_No_ID": {
                                                                    "inputs": {
                                                                        "authentication": {
                                                                            "type": "Raw",
                                                                            "value": "[parameters('functionAppKey')]"
                                                                        },
                                                                        "body": {
                                                                            "body": "@body('Query_Accounts_Contacts_Relationship')",
                                                                            "resultSpecification": "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']"
                                                                        },
                                                                        "function": {
                                                                            "id": "[concat(parameters('funcApp'), '/functions/LiquidTransformer')]"
                                                                        },
                                                                        "headers": {
                                                                            "Accept": "application/json",
                                                                            "Content-Type": "application/json",
                                                                            "Filename": "GOI-V0-getFlows-getAccountContact-Compose-Arrays"
                                                                        },
                                                                        "method": "POST",
                                                                        "retryPolicy": {
                                                                            "type": "none"
                                                                        }
                                                                    },
                                                                    "runAfter": {},
                                                                    "type": "Function"
                                                                },
                                                                "Set_Accounts_No_ID_Account_Contact": {
                                                                    "inputs": {
                                                                        "name": "Accs",
                                                                        "value": "@body('Compose_Arrays_Accounts_Contacts_No_ID')?['Accounts']"
                                                                    },
                                                                    "runAfter": {
                                                                        "Compose_Arrays_Accounts_Contacts_No_ID": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable"
                                                                },
                                                                "Set_Contacts_No_ID": {
                                                                    "inputs": {
                                                                        "name": "Cont",
                                                                        "value": "@body('Compose_Arrays_Accounts_Contacts_No_ID')?['Contacts']"
                                                                    },
                                                                    "runAfter": {
                                                                        "Compose_Arrays_Accounts_Contacts_No_ID": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable"
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@variables('identificationNumberSearch')",
                                                                        true
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "runAfter": {},
                                                        "type": "If"
                                                    }
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Response_No_Matches_for_Account_Contact": {
                                                            "inputs": {
                                                                "body": {
                                                                    "searchAccountContactResponse": {
                                                                        "Account": "@null",
                                                                        "message": "No matches for provided Account and Contact data",
                                                                        "success": "@true",
                                                                        "workflowRunId": "@workflow()?['run']?['name']"
                                                                    }
                                                                },
                                                                "statusCode": 200
                                                            },
                                                            "kind": "Http",
                                                            "runAfter": {},
                                                            "type": "Response"
                                                        },
                                                        "Terminate_No_Matches_for_Account_Contact": {
                                                            "inputs": {
                                                                "runStatus": "Succeeded"
                                                            },
                                                            "runAfter": {
                                                                "Response_No_Matches_for_Account_Contact": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Terminate"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "greater": [
                                                                "@body('Query_Accounts_Contacts_Relationship')?['totalSize']",
                                                                0
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {
                                                    "Query_Accounts_Contacts_Relationship": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "Query_Accounts_Contacts_Relationship": {
                                                "inputs": {
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('HTTP_Get_SF_Token')}"
                                                    },
                                                    "method": "GET",
                                                    "queries": {
                                                        "q": "SELECT Account.Id, Account.Name, Account.Ownership, Account.S4SMD_Status__c, Account.S4SDUNS__c, Account.S4SIfA__c, Account.BillingStreet, Account.BillingCountry, Account.BillingState, Account.BillingPostalCode, Account.S4SCMD_NAME1__c, Account.S4SCMD_NAME2__c, Account.S4SCMD_NAME3__c, Account.S4SSiemens_Account_Type__c, Account.ParentId, Account.BillingCity, Account.ShippingCountry, Account.ShippingPostalCode, Account.ShippingCity, Account.ShippingState, Account.ShippingStreet, Account.Phone, Account.Fax, Account.S4SEmail__c, Account.Website, Account.S4SSISIC_Ship_To__r.Name, Account.S4SSISIC_Ship_To__r.S4SIndustry_Description__c, Account.S4SACCOUNT_LegacyID__c, Account.S4SAccount_Name_SieSales__c, Account.S4SAccount_Name_International__c, Account.RecordType.Name, Contact.Account.Id, Contact.Email,  Contact.FirstName, Contact.LastName,  Contact.Salutation, Contact.Name, Contact.Id, Contact.S4SLanguage__c , Contact.Owner.Name, Contact.Owner.S4SGID_Technical__c, Contact.Owner.Id, Contact.Owner.Email, Contact.S4SCONTACT_LegacyID__c, Contact.DPML__Employee_Number__c FROM AccountContactRelation @{concat(body('Prepare_Where_Clauses')?['account_contact_clause'], string(' LIMIT 200'))}"
                                                    },
                                                    "retryPolicy": {
                                                        "type": "none"
                                                    },
                                                    "uri": "${instance_NonSFS_URL}/query"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "case": "AC"
                                    },
                                    "Case_Only_Account": {
                                        "actions": {
                                            "Condition_Matches_in_Account_Query": {
                                                "actions": {
                                                    "Condition_No_Id_Account_Search": {
                                                        "actions": {
                                                            "For_each_AccountId": {
                                                                "actions": {
                                                                    "Append_to_Accounts_array_no_Contact": {
                                                                        "inputs": {
                                                                            "name": "Accs",
                                                                            "value": "@addProperty(\r\n        items('For_each_AccountId'), \r\n        string('S4SIdentification_Number__c'), \r\n        if(\r\n                greaterOrEquals(body('Query_Identification_Number_no_Contact')?['totalSize'], 1),\r\n                body('Query_Identification_Number_no_Contact')?['records'],\r\n                null\r\n        )        \r\n)"
                                                                        },
                                                                        "runAfter": {
                                                                            "Query_Identification_Number_no_Contact": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "AppendToArrayVariable"
                                                                    },
                                                                    "Query_Identification_Number_no_Contact": {
                                                                        "inputs": {
                                                                            "headers": {
                                                                                "Authorization": "Bearer @{body('HTTP_Get_SF_Token')}"
                                                                            },
                                                                            "method": "GET",
                                                                            "queries": {
                                                                                "q": "SELECT S4SIdentification_Number__c, S4SLocal_Source_System__c from S4SIdentification_Number__c @{concat( \r\n        body('Prepare_Where_Clauses')?['identification_clause'], \r\n        if(\r\n                or(equals(body('Prepare_Where_Clauses')?['identification_clause'], string('')), equals(body('Prepare_Where_Clauses')?['identification_clause'], null)),\r\n                string('WHERE S4SAccount__c = '),\r\n                string(' AND S4SAccount__c = ')\r\n        ), \r\n        string(''''), items('For_each_AccountId')?['Id'], string(''''), \r\n        string(' LIMIT 200')\r\n)}"
                                                                            },
                                                                            "retryPolicy": {
                                                                                "type": "none"
                                                                            },
                                                                            "uri": "${instance_NonSFS_URL}/query"
                                                                        },
                                                                        "runAfter": {},
                                                                        "type": "Http"
                                                                    }
                                                                },
                                                                "foreach": "@body('Query_Accounts_no_Contact')?['records']",
                                                                "runAfter": {},
                                                                "type": "Foreach"
                                                            }
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "Compose_Arrays_Accounts_No_ID": {
                                                                    "inputs": {
                                                                        "authentication": {
                                                                            "type": "Raw",
                                                                            "value": "[parameters('functionAppKey')]"
                                                                        },
                                                                        "body": {
                                                                            "body": "@body('Query_Accounts_no_Contact')",
                                                                            "resultSpecification": "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']"
                                                                        },
                                                                        "function": {
                                                                            "id": "[concat(parameters('funcApp'), '/functions/LiquidTransformer')]"
                                                                        },
                                                                        "headers": {
                                                                            "Accept": "application/json",
                                                                            "Content-Type": "application/json",
                                                                            "Filename": "GOI-V0-getFlows-getAccountContact-Compose-Arrays"
                                                                        },
                                                                        "method": "POST"
                                                                    },
                                                                    "runAfter": {},
                                                                    "type": "Function"
                                                                },
                                                                "Set_Accounts_No_ID_Account": {
                                                                    "inputs": {
                                                                        "name": "Accs",
                                                                        "value": "@body('Compose_Arrays_Accounts_No_ID')?['Accounts']"
                                                                    },
                                                                    "runAfter": {
                                                                        "Compose_Arrays_Accounts_No_ID": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable"
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@variables('identificationNumberSearch')",
                                                                        true
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "runAfter": {},
                                                        "type": "If"
                                                    }
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Response_No_Matches_For_Account_Query": {
                                                            "inputs": {
                                                                "body": {
                                                                    "searchAccountContactResponse": {
                                                                        "Account": "@null",
                                                                        "message": "No matches for provided Account data",
                                                                        "success": "@true",
                                                                        "workflowRunId": "@workflow()?['run']?['name']"
                                                                    }
                                                                },
                                                                "statusCode": 200
                                                            },
                                                            "kind": "Http",
                                                            "runAfter": {},
                                                            "type": "Response"
                                                        },
                                                        "Terminate_No_Matches_For_Account_Query": {
                                                            "inputs": {
                                                                "runStatus": "Succeeded"
                                                            },
                                                            "runAfter": {
                                                                "Response_No_Matches_For_Account_Query": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Terminate"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "greater": [
                                                                "@body('Query_Accounts_no_Contact')?['totalSize']",
                                                                0
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {
                                                    "Query_Accounts_no_Contact": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "Query_Accounts_no_Contact": {
                                                "inputs": {
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('HTTP_Get_SF_Token')}"
                                                    },
                                                    "method": "GET",
                                                    "queries": {
                                                        "q": "SELECT Id, Name, Ownership, S4SMD_Status__c, S4SDUNS__c, S4SIfA__c, BillingStreet, BillingCountry, BillingState, BillingPostalCode, S4SCMD_NAME1__c, S4SCMD_NAME2__c, S4SCMD_NAME3__c, S4SSiemens_Account_Type__c, ParentId, BillingCity, ShippingCountry, ShippingPostalCode, ShippingCity, ShippingState, ShippingStreet, Phone, Fax, S4SEmail__c, Website, S4SSISIC_Ship_To__r.Name, S4SSISIC_Ship_To__r.S4SIndustry_Description__c, S4SACCOUNT_LegacyID__c, S4SAccount_Name_SieSales__c, S4SAccount_Name_International__c, RecordType.Name FROM Account  @{concat(body('Prepare_Where_Clauses')?['account_clause'], string(' LIMIT 200'))}"
                                                    },
                                                    "retryPolicy": {
                                                        "type": "none"
                                                    },
                                                    "uri": "${instance_NonSFS_URL}/query"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "case": "A"
                                    }
                                },
                                "default": {
                                    "actions": {
                                        "Response_Bad_Body": {
                                            "inputs": {
                                                "body": {
                                                    "searchAccountContactResponse": {
                                                        "message": "Unrecognized body",
                                                        "success": "@false",
                                                        "workflowRunId": "@workflow()?['run']?['name']"
                                                    }
                                                },
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {},
                                            "type": "Response"
                                        },
                                        "Terminate_Bad_Body": {
                                            "inputs": {
                                                "runStatus": "Succeeded"
                                            },
                                            "runAfter": {
                                                "Response_Bad_Body": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Terminate"
                                        }
                                    }
                                },
                                "expression": "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']",
                                "runAfter": {
                                    "Prepare_Where_Clauses": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Switch"
                            }
                        },
                        "runAfter": {},
                        "type": "Scope"
                    }
                },
                "else": {
                    "actions": {
                        "Scope_no_resultSpecification": {
                            "actions": {
                                "Response_no_resultSpecification": {
                                    "inputs": {
                                        "body": {
                                            "searchAccountContactResponse": {
                                                "message": "Please provide Contact and/or Account data in search parameters",
                                                "success": "@false",
                                                "workflowRunId": "@workflow()?['run']?['name']"
                                            }
                                        },
                                        "statusCode": 200
                                    },
                                    "kind": "Http",
                                    "runAfter": {},
                                    "type": "Response"
                                },
                                "Terminate_no_resultSpecification": {
                                    "inputs": {
                                        "runStatus": "Succeeded"
                                    },
                                    "runAfter": {
                                        "Response_no_resultSpecification": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Terminate"
                                }
                            },
                            "runAfter": {},
                            "type": "Scope"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']",
                                    "@null"
                                ]
                            }
                        },
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['searchAccountContactRequest']?['resultSpecification']",
                                    "@string('')"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "HTTP_Get_SF_Token": [
                        "Succeeded"
                    ],
                    "Initialize_Accounts": [
                        "Succeeded"
                    ],
                    "Initialize_Contacts": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "HTTP_Get_SF_Token": {
                "inputs": {
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "${apimKey}"
                    },
                    "method": "POST",
                    "retryPolicy": {
                        "type": "none"
                    },
                    "uri": "${apimURL}"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Initialize_Accounts": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Accs",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_Contacts": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Cont",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_identificationNumberSearch": {
                "inputs": {
                    "variables": [
                        {
                            "name": "identificationNumberSearch",
                            "type": "boolean",
                            "value": "@if(equals(triggerBody()?['searchAccountContactRequest']?['identificationNumberSearch'],null),true,triggerBody()?['searchAccountContactRequest']?['identificationNumberSearch'])"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "searchAccountContactRequest": {
                                "properties": {
                                    "Account": {
                                        "properties": {
                                            "BillingCity": {
                                                "type": "string"
                                            },
                                            "BillingCountry": {
                                                "type": "string"
                                            },
                                            "BillingPostalCode": {
                                                "type": "string"
                                            },
                                            "BillingState": {
                                                "type": "string"
                                            },
                                            "Id": {
                                                "type": "string"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Ownership": {
                                                "type": "string"
                                            },
                                            "S4SACCOUNT_LegacyID__c": {
                                                "type": "string"
                                            },
                                            "S4SDUNS__c": {
                                                "type": "string"
                                            },
                                            "S4SIdentification_Number__c": {
                                                "properties": {
                                                    "S4SIdentification_Number__c": {
                                                        "type": "string"
                                                    },
                                                    "S4SLocal_Source_System__c": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "S4SIfA__c": {
                                                "type": "string"
                                            },
                                            "S4SMD_Status__c": {
                                                "type": "string"
                                            },
                                            "S4SSiemens_Account_Type__c": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Contact": {
                                        "properties": {
                                            "DPML__Employee_Number__c": {
                                                "type": "string"
                                            },
                                            "Email": {
                                                "type": "string"
                                            },
                                            "Id": {
                                                "type": "string"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Owner": {
                                                "properties": {
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "S4SGID_Technical__c": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "S4SCONTACT_LegacyID__c": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "excludeNulls": {
                                        "type": "boolean"
                                    },
                                    "resultSpecification": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
