tests/workflows-iMall/int_getUserId/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition_2": {
        "actions": {
          "Get_User_Id": {
            "inputs": {
              "queries": {
                "$filter": "@{outputs('What_Query_to_Send')}",
                "$select": "Id,Email,S4SGID_Technical__c"
              },
              "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('User'))}/items",
              "host": {
                "connection": {
                  "referenceName": "salesForceConnection"
                }
              },
              "method": "get"
            },
            "runAfter": {},
            "type": "ApiConnection"
          },
          "was_it_successful": {
            "actions": {
              "Set_Success_Response": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "getUserIdResponse",
                  "value": {
                    "Email": "@{body('Get_User_Id')?['value']?[0]?['Email']}",
                    "GIDTechnical": "@{body('Get_User_Id')?['value']?[0]?['S4SGID_Technical__c']}",
                    "Id": "@{body('Get_User_Id')?['value']?[0]?['Id']}",
                    "status": "@{if(equals(length(body('Get_User_Id')?['value']),0),'failure','success')}"
                  }
                }
              }
            },
            "else": {
              "actions": {
                "Set_Failure_Response": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "getUserIdResponse",
                    "value": {
                      "Email": "@{triggerBody()?['Email']}",
                      "GIDTechnical": "@{triggerBody()?['S4SGID_Technical__c']}",
                      "Id": "@{ triggerBody()?['Id']}",
                      "message": "Provided Information could not be found in SieSales",
                      "status": "failure"
                    }
                  }
                }
              }
            },
            "expression": {
              "and": [
                {
                  "greater": [
                    "@length(coalesce(body('Get_User_Id')?['value'],''))",
                    0
                  ]
                }
              ]
            },
            "runAfter": {
              "Get_User_Id": [
                "Succeeded"
              ]
            },
            "type": "If"
          }
        },
        "else": {
          "actions": {
            "Set_Failure_Response_2": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "getUserIdResponse",
                "value": {
                  "Email": "@{triggerBody()?['Email']}",
                  "GIDTechnical": "@{triggerBody()?['S4SGID_Technical__c']}",
                  "Id": "@{triggerBody()?['Id']}",
                  "message": "Needed Information was not passed",
                  "status": "failure"
                }
              }
            }
          }
        },
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@outputs('What_Query_to_Send')",
                  "ERROR"
                ]
              }
            }
          ]
        },
        "runAfter": {
          "What_Query_to_Send": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Initialize_variable": {
        "runAfter": {},
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "getUserIdResponse",
              "type": "object",
              "value": {
                "Email": "",
                "GIDTechnical": "",
                "Id": "",
                "message": "",
                "status": ""
              }
            }
          ]
        }
      },
      "Response": {
        "runAfter": {
          "Condition_2": [
            "Succeeded"
          ]
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "body": "@variables('getUserIdResponse')",
          "statusCode": 200
        }
      },
      "What_Query_to_Send": {
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ]
        },
        "type": "Compose",
        "inputs": "@{if(or(equals(triggerBody()?['S4SGID_Technical__c'],null),equals(triggerBody()?['S4SGID_Technical__c'],''))\r\n\t,if(or(equals(triggerBody()?['Email'],null),equals(triggerBody()?['Email'],''))\r\n\t\t,if(or(equals(triggerBody()?['Id'],null),equals(triggerBody()?['Id'],''))\r\n\t\t\t,'ERROR'\r\n\t\t\t,concat('Id eq ''',triggerBody()?['Id'],''''))\r\n\t\t,concat('Email eq ''',triggerBody()?['Email'],''''))\r\n\t,concat('S4SGID_Technical__c eq ''',triggerBody()?['S4SGID_Technical__c'],''''))}"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "properties": {
              "Email": {
                "type": "string"
              },
              "Id": {
                "type": "string"
              },
              "S4SGID_Technical__c": {
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      }
    }
  },
  "kind": "Stateful"
}
