tests/laconversion/SFS/flow-internal_SFS_fetchAccount.json
{
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "AccountWhere_Clause": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccountWhere Clause",
                            "type": "string",
                            "value": "@{null}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Condition_to_set_account_Id": {
                "actions": {
                    "Set_variable": {
                        "inputs": {
                            "name": "AccountId",
                            "value": "@{json(triggerBody()?['requestBody'])['records']?[0]?['AccountId']}"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "else": {
                    "actions": {
                        "Set_variable_2": {
                            "inputs": {
                                "name": "AccountId",
                                "value": "@{json(triggerBody()?['requestBody'])['records']?[0]?['S4SEnd_Account__c']}"
                            },
                            "runAfter": {},
                            "type": "SetVariable"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['IsInputvalueAccId']",
                                true
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Append_Where_clause": [
                        "Succeeded"
                    ],
                    "Initialize_variable": [
                        "Succeeded"
                    ],
                    "Initialize_variable_'AccountId'": [
                        "Succeeded"
                    ],
                    "Initialize_variable_'initalizeWhereClauseAppend'": [
                        "Succeeded"
                    ],
                    "Initialize_variable_error_response": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_Append_Where_clause": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AppendWhereClause",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "AccountWhere_Clause": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "varSOQLAccount",
                            "type": "string",
                            "value": "Select Id,IsDeleted,MasterRecordId,Name,Type,RecordTypeId,ParentId,BillingStreet,BillingCity,BillingState,BillingPostalCode,BillingCountry,BillingStateCode,BillingCountryCode,BillingLatitude,BillingLongitude,BillingGeocodeAccuracy,ShippingStreet,ShippingCity,ShippingState,ShippingPostalCode,ShippingCountry,ShippingStateCode,ShippingCountryCode,ShippingLatitude,ShippingLongitude,ShippingGeocodeAccuracy,Phone,Fax,AccountNumber,Website,PhotoUrl,Sic,Industry,AnnualRevenue,NumberOfEmployees,Ownership,TickerSymbol,Description,Rating,Site,CurrencyIsoCode,OwnerId,CreatedDate,CreatedById,LastModifiedDate,LastModifiedById,SystemModstamp,LastActivityDate,LastViewedDate,LastReferencedDate,IsPartner,IsCustomerPortal,ChannelProgramName,ChannelProgramLevelName,Jigsaw,JigsawCompanyId,AccountSource,SicDesc,LID__LinkedIn_Company_Id__c,Copado_Testing__c,S4SACCOUNT_LegacyID__c,S4SARE__c,S4SAccount_Assignment__c,S4SAccount_Current_Record_Link__c,S4SAccount_Group_Type__c,S4SAccount_Life_Cycle__c,S4SAccount_Name_International__c,S4SAccount_Role__c,S4SAvailable_languages__c,S4SBusiness_Availability_24h_365_days__c,S4SBusiness_Availability_24h_Mon_Fri__c,S4SBusiness_Unit__c,S4SBypass_Duplicate_rules__c,S4SCID_Number__c,S4SCMD_IfA_Update__c,S4SCMD_KUKLA__c,S4SCMD_NAME1_I__c,S4SCMD_NAME1__c,S4SCMD_NAME2_I__c,S4SCMD_NAME2__c,S4SCMD_NAME3_I__c,S4SCMD_NAME3__c,S4SCMD_REGION__c,S4SCMD_STREET2__c,S4SCMD_STREET__c,S4SCMD_Subscription_Rejected_Date__c,S4SChange_n__c,S4SChange_of_NPS__c,S4SCheck_IFAs_and_Contacts__c,S4SCity_PO_Box_International__c,S4SCity_PO_Box__c,S4SCompany_Postal_Code__c,S4SCompany_Summary__c,S4SCurrent_FY_NPS__c,S4SDUNS__c,S4SDivision__c,S4SDomestic_Ultimate_DUNS__c,S4SDuns_Information__c,S4SDuplicate_IfA_Number__c,S4SEmail__c,S4SEngineering_electrical__c,S4SEngineering_mechanical__c,S4SExternal_Account_HelpText__c,S4SFacebook__c,S4SField_Services_24_7__c,S4SFounding_Year__c,S4SFrom_Search__c,S4SGlobal_Frame_Agreement_Database__c,S4SGlobal_Ultimate_DUNS__c,S4SISIC__c,S4SIfAAutoNumber__c,S4SIfA_Siemens_Location__c,S4SIfA__c,S4SIndustry_Direct__c,S4SIndustry_Segment_Direct__c,S4SIndustry_Segment_Ship_To__c,S4SIndustry_Ship_To__c,S4SInternational_City__c,S4SInternational_CountryGP__c,S4SInternational_Country__c,S4SInternational_Postal_Code__c,S4SInternational_RegionGP__c,S4SInternational_Region__c,S4SInternational_Steet_Name_2__c,S4SInternational_Street_Name_1__c,S4SIsOwnerCMDUser__c,S4SIs_Partner__c,S4SLead_Country__c,S4SLead_Org__c,S4SLegalOwner__c,S4SLocal_Search_Term__c,S4SMD_Status__c,S4SNPS_Trend__c,S4SNat_Company_ID__c,S4SNo_Legal_Form_available__c,S4SNo_of_Active_Candidature__c,S4SNo_of_Cancelled_Candidature__c,S4SNomination_Letter__c,S4SNormal_Business_Hours__c,S4SNotification_from_CMD__c,S4SOfferings_to_the_market_SOP__c,S4SOfferings_to_the_market_VAR__c,S4SOperational_radius__c,S4SOrganization_Code__c,S4SPO_Box_Postcode__c,S4SPO_box__c,S4SParent_Account_Group__c,S4SParent_DUNS__c,S4SPartner_Main_Industries__c,S4SPartner_Type__c,S4SPartnership_Status__c,S4SPartnership_with_competing_vendors__c,S4SPrevious_FY_NPS__c,S4SPrevious_FY_n__c,S4SPrevious_IfA_Number__c,S4SPulse_Link__c,S4SRelevant_Portfolio__c,S4SResponders_current_FY_n__c,S4SSFS_Confidential__c,S4SSISIC_Direct_Description__c,S4SSISIC_Direct__c,S4SSISIC_Ship_To_Description__c,S4SSISIC_Ship_To__c,S4SSalesCountry__c,S4SSales_Branch__c,S4SSales_Country__c,S4SSales_Department__c,S4SSales_Office__c,S4SSales_Org_Type__c,S4SSales_Sub_Region__c,S4SSales_Territory__c,S4SService_electrical__c,S4SService_mechanical__c,S4SShopfloor_level_square_meters__c,S4SShort_Partner_company_description__c,S4SSiemens_Account_Type__c,S4STax_ID__c,S4STotal_Employees__c,S4SVertical_Name__c,S4S_No_Matched_Accounts_Found__c,S4SClone_Account_Number__c,S4SNumber_of_Pricing_Primary__c,Account_Assignments__c,S4SBypassValidationForProcessBuilder__c,S4SConfidentiality_Status__c,S4SDAndBCreated__c,S4SData_Visibility__c,S4SIdentification_Number__c,S4SLegal_Status__c,S4SMarked_for_Deletion__c,S4SPartner_Group__c,S4SQuip_ABP_URL__c,S4SQuip_Briefing_URL__c,S4SQuip_CSVP_URL__c,S4SSAP_Client__c,S4SSAP_System_ID__c,S4SSales_Planning_enabled__c,S4SClone_Confidential__c,S4SCounty_FIPS__c,S4SCounty__c,S4SCustomer_Classification__c,S4SExternal_Source__c,S4SGeographical_Code__c,S4SIndirect_Creation_Status__c,S4SLead_Central_Enabled_Account__c,S4SMilitary_Non_Military_Use__c,S4SNTA__c,S4SRegion__c,S4SRelated_IfA__c,S4SSkipValidationForDataVisibilty__c,S4SPartner_Group_Record_Type_Name__c,Owner.S4SSales_Manager__c from Account"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_'IFA_Number'": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_'AccountId'": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccountId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_'IFA_Number'": {
                "inputs": {
                    "variables": [
                        {
                            "name": "IfaNumber",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_'initalizeWhereClauseAppend'": {
                "inputs": {
                    "variables": [
                        {
                            "name": "initalizeWhereClauseAppend",
                            "type": "string",
                            "value": "@{null}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_error_response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SoapErrorResponse",
                            "type": "string",
                            "value": "<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Header/><soap-env:Body><soap-env:Fault><faultcode>soap-env:Server</faultcode><faultstring>{errormessagedetails}</faultstring><detail/></soap-env:Fault></soap-env:Body></soap-env:Envelope>"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Scope-Catch": {
                "actions": {
                    "Failed_Response": {
                        "inputs": {
                            "body": "@replace(variables('SoapErrorResponse'),'{errormessagedetails}',concat('Some error occurred while connection. Please find more details using tracking id : ', workflow()['run']['name']))",
                            "headers": {
                                "Content-Type": "application/xml"
                            },
                            "statusCode": 500
                        },
                        "kind": "Http",
                        "runAfter": {},
                        "runtimeConfiguration": {
                            "secureData": {
                               "properties": [
                                   "inputs"
                              ]      
                           }
                       },
                        "type": "Response"
                    },
                    "Terminate": {
                        "inputs": {
                            "runStatus": "Failed"
                        },
                        "runAfter": {
                            "Failed_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "Terminate"
                    }
                },
                "runAfter": {
                    "Scope-Try": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                "type": "Scope"
            },
            "Scope-Try": {
                "actions": {
                    "Compose": {
                        "inputs": {
                            "records": [
                                {
                                    "AccountNumber": "@{body('Get_record_sfs')?['AccountNumber']}",
                                    "AccountSource": "@{body('Get_record_sfs')?['AccountSource']}",
                                    "Account_Assignments__c": "@{body('Get_record_sfs')?['Account_Assignments__c']}",
                                    "AnnualRevenue": "@{body('Get_record_sfs')?['AnnualRevenue']}",
                                    "BillingCity": "@{body('Get_record_sfs')?['BillingCity']}",
                                    "BillingCountry": "@{body('Get_record_sfs')?['BillingCountry']}",
                                    "BillingCountryCode": "@{body('Get_record_sfs')?['BillingCountryCode']}",
                                    "BillingGeocodeAccuracy": "@{body('Get_record_sfs')?['BillingGeocodeAccuracy']}",
                                    "BillingLatitude": "@{body('Get_record_sfs')?['BillingLatitude']}",
                                    "BillingLongitude": "@{body('Get_record_sfs')?['BillingLongitude']}",
                                    "BillingPostalCode": "@{body('Get_record_sfs')?['BillingPostalCode']}",
                                    "BillingState": "@{body('Get_record_sfs')?['BillingState']}",
                                    "BillingStateCode": "@{body('Get_record_sfs')?['BillingStateCode']}",
                                    "BillingStreet": "@{body('Get_record_sfs')?['BillingStreet']}",
                                    "ChannelProgramLevelName": "@{body('Get_record_sfs')?['ChannelProgramLevelName']}",
                                    "ChannelProgramName": "@{body('Get_record_sfs')?['ChannelProgramName']}",
                                    "Copado_Testing__c": "@{body('Get_record_sfs')?['Copado_Testing__c']}",
                                    "CreatedById": "@{body('Get_record_sfs')?['CreatedById']}",
                                    "CreatedDate": "@{body('Get_record_sfs')?['CreatedDate']}",
                                    "CurrencyIsoCode": "@{body('Get_record_sfs')?['CurrencyIsoCode']}",
                                    "Description": "@{body('Get_record_sfs')?['Description']}",
                                    "Fax": "@{body('Get_record_sfs')?['Fax']}",
                                    "Id": "@{body('Get_record_sfs')?['Id']}",
                                    "Industry": "@{body('Get_record_sfs')?['Industry']}",
                                    "IsCustomerPortal": "@{body('Get_record_sfs')?['IsCustomerPortal']}",
                                    "IsDeleted": "@{body('Get_record_sfs')?['IsDeleted']}",
                                    "IsPartner": "@{body('Get_record_sfs')?['IsPartner']}",
                                    "Jigsaw": "@{body('Get_record_sfs')?['Jigsaw']}",
                                    "JigsawCompanyId": "@{body('Get_record_sfs')?['JigsawCompanyId']}",
                                    "LID__LinkedIn_Company_Id__c": "@{body('Get_record_sfs')?['LID__LinkedIn_Company_Id__c']}",
                                    "LastActivityDate": "@{body('Get_record_sfs')?['LastActivityDate']}",
                                    "LastModifiedById": "@{body('Get_record_sfs')?['LastModifiedById']}",
                                    "LastModifiedDate": "@{body('Get_record_sfs')?['LastModifiedDate']}",
                                    "LastReferencedDate": "@{body('Get_record_sfs')?['LastReferencedDate']}",
                                    "LastViewedDate": "@{body('Get_record_sfs')?['LastViewedDate']}",
                                    "MasterRecordId": "@{body('Get_record_sfs')?['MasterRecordId']}",
                                    "Name": "@{body('Get_record_sfs')?['Name']}",
                                    "NumberOfEmployees": "@{body('Get_record_sfs')?['NumberOfEmployees']}",
                                    "Owner": {
                                        "S4SSales_Manager__c": null,
                                        "attributes": {
                                            "type": "User",
                                            "url": "/services/data/v47.0/sobjects/User/0050N000008QGc5QAG"
                                        }
                                    },
                                    "OwnerId": "@{body('Get_record_sfs')?['OwnerId']}",
                                    "Ownership": "@{body('Get_record_sfs')?['Ownership']}",
                                    "ParentId": "@{body('Get_record_sfs')?['ParentId']}",
                                    "Phone": "@{body('Get_record_sfs')?['Phone']}",
                                    "PhotoUrl": "@{body('Get_record_sfs')?['PhotoUrl']}",
                                    "Rating": "@{body('Get_record_sfs')?['Rating']}",
                                    "RecordTypeId": "@{body('Get_record_sfs')?['RecordTypeId']}",
                                    "S4SACCOUNT_LegacyID__c": "@{body('Get_record_sfs')?['S4SACCOUNT_LegacyID__c']}",
                                    "S4SARE__c": "@{body('Get_record_sfs')?['S4SARE__c']}",
                                    "S4SAccount_Assignment__c": "@{body('Get_record_sfs')?['S4SAccount_Assignment__c']}",
                                    "S4SAccount_Current_Record_Link__c": "@{body('Get_record_sfs')?['S4SAccount_Current_Record_Link__c']}",
                                    "S4SAccount_Group_Type__c": "@{body('Get_record_sfs')?['S4SAccount_Group_Type__c']}",
                                    "S4SAccount_Life_Cycle__c": "@{body('Get_record_sfs')?['S4SAccount_Life_Cycle__c']}",
                                    "S4SAccount_Name_International__c": "@{body('Get_record_sfs')?['S4SAccount_Name_International__c']}",
                                    "S4SAccount_Role__c": "@{body('Get_record_sfs')?['S4SAccount_Role__c']}",
                                    "S4SAvailable_languages__c": "@{body('Get_record_sfs')?['S4SAvailable_languages__c']}",
                                    "S4SBusiness_Availability_24h_365_days__c": "@{body('Get_record_sfs')?['S4SBusiness_Availability_24h_365_days__c']}",
                                    "S4SBusiness_Availability_24h_Mon_Fri__c": "@{body('Get_record_sfs')?['S4SBusiness_Availability_24h_Mon_Fri__c']}",
                                    "S4SBusiness_Unit__c": "@{body('Get_record_sfs')?['S4SBusiness_Unit__c']}",
                                    "S4SBypassValidationForProcessBuilder__c": "@{body('Get_record_sfs')?['S4SBypassValidationForProcessBuilder__c']}",
                                    "S4SBypass_Duplicate_rules__c": "@{body('Get_record_sfs')?['S4SBypass_Duplicate_rules__c']}",
                                    "S4SCID_Number__c": "@{body('Get_record_sfs')?['S4SCID_Number__c']}",
                                    "S4SCMD_IfA_Update__c": "@{body('Get_record_sfs')?['S4SCMD_IfA_Update__c']}",
                                    "S4SCMD_KUKLA__c": "@{body('Get_record_sfs')?['S4SCMD_KUKLA__c']}",
                                    "S4SCMD_NAME1_I__c": "@{body('Get_record_sfs')?['S4SCMD_NAME1_I__c']}",
                                    "S4SCMD_NAME1__c": "@{body('Get_record_sfs')?['S4SCMD_NAME1__c']}",
                                    "S4SCMD_NAME2_I__c": "@{body('Get_record_sfs')?['S4SCMD_NAME2_I__c']}",
                                    "S4SCMD_NAME2__c": "@{body('Get_record_sfs')?['S4SCMD_NAME2__c']}",
                                    "S4SCMD_NAME3_I__c": "@{body('Get_record_sfs')?['S4SCMD_NAME3_I__c']}",
                                    "S4SCMD_NAME3__c": "@{body('Get_record_sfs')?['S4SCMD_NAME3__c']}",
                                    "S4SCMD_REGION__c": "@{body('Get_record_sfs')?['S4SCMD_REGION__c']}",
                                    "S4SCMD_STREET2__c": "@{body('Get_record_sfs')?['S4SCMD_STREET2__c']}",
                                    "S4SCMD_STREET__c": "@{body('Get_record_sfs')?['S4SCMD_STREET__c']}",
                                    "S4SCMD_Subscription_Rejected_Date__c": "@{body('Get_record_sfs')?['S4SCMD_Subscription_Rejected_Date__c']}",
                                    "S4SChange_n__c": "@{body('Get_record_sfs')?['S4SChange_n__c']}",
                                    "S4SChange_of_NPS__c": "@{body('Get_record_sfs')?['S4SChange_of_NPS__c']}",
                                    "S4SCheck_IFAs_and_Contacts__c": "@{body('Get_record_sfs')?['S4SCheck_IFAs_and_Contacts__c']}",
                                    "S4SCity_PO_Box_International__c": "@{body('Get_record_sfs')?['S4SCity_PO_Box_International__c']}",
                                    "S4SCity_PO_Box__c": "@{body('Get_record_sfs')?['S4SCity_PO_Box__c']}",
                                    "S4SClone_Account_Number__c": "@{body('Get_record_sfs')?['S4SClone_Account_Number__c']}",
                                    "S4SClone_Confidential__c": "@{body('Get_record_sfs')?['S4SClone_Confidential__c']}",
                                    "S4SCompany_Postal_Code__c": "@{body('Get_record_sfs')?['S4SCompany_Postal_Code__c']}",
                                    "S4SCompany_Summary__c": "@{body('Get_record_sfs')?['S4SCompany_Summary__c']}",
                                    "S4SConfidentiality_Status__c": "@{body('Get_record_sfs')?['S4SConfidentiality_Status__c']}",
                                    "S4SCounty_FIPS__c": "@{body('Get_record_sfs')?['S4SCounty_FIPS__c']}",
                                    "S4SCounty__c": "@{body('Get_record_sfs')?['S4SCounty__c']}",
                                    "S4SCurrent_FY_NPS__c": "@{body('Get_record_sfs')?['S4SCurrent_FY_NPS__c']}",
                                    "S4SCustomer_Classification__c": "@{body('Get_record_sfs')?['S4SCustomer_Classification__c']}",
                                    "S4SDAndBCreated__c": "@{body('Get_record_sfs')?['S4SDAndBCreated__c']}",
                                    "S4SDUNS__c": "@{body('Get_record_sfs')?['S4SDUNS__c']}",
                                    "S4SData_Visibility__c": "@{body('Get_record_sfs')?['S4SData_Visibility__c']}",
                                    "S4SDivision__c": "@{body('Get_record_sfs')?['S4SDivision__c']}",
                                    "S4SDomestic_Ultimate_DUNS__c": "@{body('Get_record_sfs')?['S4SDomestic_Ultimate_DUNS__c']}",
                                    "S4SDuns_Information__c": "@{body('Get_record_sfs')?['S4SDuns_Information__c']}",
                                    "S4SDuplicate_IfA_Number__c": "@{body('Get_record_sfs')?['S4SDuplicate_IfA_Number__c']}",
                                    "S4SEmail__c": "@{body('Get_record_sfs')?['S4SEmail__c']}",
                                    "S4SEngineering_electrical__c": "@{body('Get_record_sfs')?['S4SEngineering_electrical__c']}",
                                    "S4SEngineering_mechanical__c": "@{body('Get_record_sfs')?['S4SEngineering_mechanical__c']}",
                                    "S4SExternal_Account_HelpText__c": "@{body('Get_record_sfs')?['S4SExternal_Account_HelpText__c']}",
                                    "S4SExternal_Source__c": "@{body('Get_record_sfs')?['S4SExternal_Source__c']}",
                                    "S4SFacebook__c": "@{body('Get_record_sfs')?['S4SFacebook__c']}",
                                    "S4SField_Services_24_7__c": "@{body('Get_record_sfs')?['S4SField_Services_24_7__c']}",
                                    "S4SFounding_Year__c": "@{body('Get_record_sfs')?['S4SFounding_Year__c']}",
                                    "S4SFrom_Search__c": "@{body('Get_record_sfs')?['S4SFrom_Search__c']}",
                                    "S4SGeographical_Code__c": "@{body('Get_record_sfs')?['S4SGeographical_Code__c']}",
                                    "S4SGlobal_Frame_Agreement_Database__c": "@{body('Get_record_sfs')?['S4SGlobal_Frame_Agreement_Database__c']}",
                                    "S4SGlobal_Ultimate_DUNS__c": "@{body('Get_record_sfs')?['S4SGlobal_Ultimate_DUNS__c']}",
                                    "S4SISIC__c": "@{body('Get_record_sfs')?['S4SISIC__c']}",
                                    "S4SIdentification_Number__c": "@{body('Get_record_sfs')?['S4SIdentification_Number__c']}",
                                    "S4SIfAAutoNumber__c": "@{body('Get_record_sfs')?['S4SIfAAutoNumber__c']}",
                                    "S4SIfA_Siemens_Location__c": "@{body('Get_record_sfs')?['S4SIfA_Siemens_Location__c']}",
                                    "S4SIfA__c": "@{body('Get_record_sfs')?['S4SIfA__c']}",
                                    "S4SIndirect_Creation_Status__c": "@{body('Get_record_sfs')?['S4SIndirect_Creation_Status__c']}",
                                    "S4SIndustry_Direct__c": "@{body('Get_record_sfs')?['S4SIndustry_Direct__c']}",
                                    "S4SIndustry_Segment_Direct__c": "@{body('Get_record_sfs')?['S4SIndustry_Segment_Direct__c']}",
                                    "S4SIndustry_Segment_Ship_To__c": "@{body('Get_record_sfs')?['S4SIndustry_Segment_Ship_To__c']}",
                                    "S4SIndustry_Ship_To__c": "@{body('Get_record_sfs')?['S4SIndustry_Ship_To__c']}",
                                    "S4SInternational_City__c": "@{body('Get_record_sfs')?['S4SInternational_City__c']}",
                                    "S4SInternational_CountryGP__c": "@{body('Get_record_sfs')?['S4SInternational_CountryGP__c']}",
                                    "S4SInternational_Country__c": "@{body('Get_record_sfs')?['S4SInternational_Country__c']}",
                                    "S4SInternational_Postal_Code__c": "@{body('Get_record_sfs')?['S4SInternational_Postal_Code__c']}",
                                    "S4SInternational_RegionGP__c": "@{body('Get_record_sfs')?['S4SInternational_RegionGP__c']}",
                                    "S4SInternational_Region__c": "@{body('Get_record_sfs')?['S4SInternational_Region__c']}",
                                    "S4SInternational_Steet_Name_2__c": "@{body('Get_record_sfs')?['S4SInternational_Steet_Name_2__c']}",
                                    "S4SInternational_Street_Name_1__c": "@{body('Get_record_sfs')?['S4SInternational_Street_Name_1__c']}",
                                    "S4SIsOwnerCMDUser__c": "@{body('Get_record_sfs')?['S4SIsOwnerCMDUser__c']}",
                                    "S4SIs_Partner__c": "@{body('Get_record_sfs')?['S4SIs_Partner__c']}",
                                    "S4SLead_Central_Enabled_Account__c": "@{body('Get_record_sfs')?['S4SLead_Central_Enabled_Account__c']}",
                                    "S4SLead_Country__c": "@{body('Get_record_sfs')?['S4SLead_Country__c']}",
                                    "S4SLead_Org__c": "@{body('Get_record_sfs')?['S4SLead_Org__c']}",
                                    "S4SLegalOwner__c": "@{body('Get_record_sfs')?['S4SLegalOwner__c']}",
                                    "S4SLegal_Status__c": "@{body('Get_record_sfs')?['S4SLegal_Status__c']}",
                                    "S4SLocal_Search_Term__c": "@{body('Get_record_sfs')?['S4SLocal_Search_Term__c']}",
                                    "S4SMD_Status__c": "@{body('Get_record_sfs')?['S4SMD_Status__c']}",
                                    "S4SMarked_for_Deletion__c": "@{body('Get_record_sfs')?['S4SMarked_for_Deletion__c']}",
                                    "S4SMilitary_Non_Military_Use__c": "@{body('Get_record_sfs')?['S4SMilitary_Non_Military_Use__c']}",
                                    "S4SNPS_Trend__c": "@{body('Get_record_sfs')?['S4SNPS_Trend__c']}",
                                    "S4SNTA__c": "@{body('Get_record_sfs')?['S4SNTA__c']}",
                                    "S4SNat_Company_ID__c": "@{body('Get_record_sfs')?['S4SNat_Company_ID__c']}",
                                    "S4SNo_Legal_Form_available__c": "@{body('Get_record_sfs')?['S4SNo_Legal_Form_available__c']}",
                                    "S4SNo_of_Active_Candidature__c": "@{body('Get_record_sfs')?['S4SNo_of_Active_Candidature__c']}",
                                    "S4SNo_of_Cancelled_Candidature__c": "@{body('Get_record_sfs')?['S4SNo_of_Cancelled_Candidature__c']}",
                                    "S4SNomination_Letter__c": "@{body('Get_record_sfs')?['S4SNomination_Letter__c']}",
                                    "S4SNormal_Business_Hours__c": "@{body('Get_record_sfs')?['S4SNormal_Business_Hours__c']}",
                                    "S4SNotification_from_CMD__c": "@{body('Get_record_sfs')?['S4SNotification_from_CMD__c']}",
                                    "S4SNumber_of_Pricing_Primary__c": "@{body('Get_record_sfs')?['S4SNumber_of_Pricing_Primary__c']}",
                                    "S4SOfferings_to_the_market_SOP__c": "@{body('Get_record_sfs')?['S4SOfferings_to_the_market_SOP__c']}",
                                    "S4SOfferings_to_the_market_VAR__c": "@{body('Get_record_sfs')?['S4SOfferings_to_the_market_VAR__c']}",
                                    "S4SOperational_radius__c": "@{body('Get_record_sfs')?['S4SOperational_radius__c']}",
                                    "S4SOrganization_Code__c": "@{body('Get_record_sfs')?['S4SOrganization_Code__c']}",
                                    "S4SPO_Box_Postcode__c": "@{body('Get_record_sfs')?['S4SPO_Box_Postcode__c']}",
                                    "S4SPO_box__c": "@{body('Get_record_sfs')?['S4SPO_box__c']}",
                                    "S4SParent_Account_Group__c": "@{body('Get_record_sfs')?['S4SParent_Account_Group__c']}",
                                    "S4SParent_DUNS__c": "@{body('Get_record_sfs')?['S4SParent_DUNS__c']}",
                                    "S4SPartner_Group_Record_Type_Name__c": "@{body('Get_record_sfs')?['S4SPartner_Group_Record_Type_Name__c']}",
                                    "S4SPartner_Group__c": "@{body('Get_record_sfs')?['S4SPartner_Group__c']}",
                                    "S4SPartner_Main_Industries__c": "@{body('Get_record_sfs')?['S4SPartner_Main_Industries__c']}",
                                    "S4SPartner_Type__c": "@{body('Get_record_sfs')?['S4SPartner_Type__c']}",
                                    "S4SPartnership_Status__c": "@{body('Get_record_sfs')?['S4SPartnership_Status__c']}",
                                    "S4SPartnership_with_competing_vendors__c": "@{body('Get_record_sfs')?['S4SPartnership_with_competing_vendors__c']}",
                                    "S4SPrevious_FY_NPS__c": "@{body('Get_record_sfs')?['S4SPrevious_FY_NPS__c']}",
                                    "S4SPrevious_FY_n__c": "@{body('Get_record_sfs')?['S4SPrevious_FY_n__c']}",
                                    "S4SPrevious_IfA_Number__c": "@{body('Get_record_sfs')?['S4SPrevious_IfA_Number__c']}",
                                    "S4SPulse_Link__c": "@{body('Get_record_sfs')?['S4SPulse_Link__c']}",
                                    "S4SQuip_ABP_URL__c": "@{body('Get_record_sfs')?['S4SQuip_ABP_URL__c']}",
                                    "S4SQuip_Briefing_URL__c": "@{body('Get_record_sfs')?['S4SQuip_Briefing_URL__c']}",
                                    "S4SQuip_CSVP_URL__c": "@{body('Get_record_sfs')?['S4SQuip_CSVP_URL__c']}",
                                    "S4SRegion__c": "@{body('Get_record_sfs')?['S4SRegion__c']}",
                                    "S4SRelated_IfA__c": "@{body('Get_record_sfs')?['S4SRelated_IfA__c']}",
                                    "S4SRelevant_Portfolio__c": "@{body('Get_record_sfs')?['S4SRelevant_Portfolio__c']}",
                                    "S4SResponders_current_FY_n__c": "@{body('Get_record_sfs')?['S4SResponders_current_FY_n__c']}",
                                    "S4SSAP_Client__c": "@{body('Get_record_sfs')?['S4SSAP_Client__c']}",
                                    "S4SSAP_System_ID__c": "@{body('Get_record_sfs')?['S4SSAP_System_ID__c']}",
                                    "S4SSFS_Confidential__c": "@{body('Get_record_sfs')?['S4SSFS_Confidential__c']}",
                                    "S4SSISIC_Direct_Description__c": "@{body('Get_record_sfs')?['S4SSISIC_Direct_Description__c']}",
                                    "S4SSISIC_Direct__c": "@{body('Get_record_sfs')?['S4SSISIC_Direct__c']}",
                                    "S4SSISIC_Ship_To_Description__c": "@{body('Get_record_sfs')?['S4SSISIC_Ship_To_Description__c']}",
                                    "S4SSISIC_Ship_To__c": "@{body('Get_record_sfs')?['S4SSISIC_Ship_To__c']}",
                                    "S4SSalesCountry__c": "@{body('Get_record_sfs')?['S4SSalesCountry__c']}",
                                    "S4SSales_Branch__c": "@{body('Get_record_sfs')?['S4SSales_Branch__c']}",
                                    "S4SSales_Country__c": "@{body('Get_record_sfs')?['S4SSales_Country__c']}",
                                    "S4SSales_Department__c": "@{body('Get_record_sfs')?['S4SSales_Department__c']}",
                                    "S4SSales_Office__c": "@{body('Get_record_sfs')?['S4SSales_Office__c']}",
                                    "S4SSales_Org_Type__c": "@{body('Get_record_sfs')?['S4SSales_Org_Type__c']}",
                                    "S4SSales_Planning_enabled__c": "@{body('Get_record_sfs')?['S4SSales_Planning_enabled__c']}",
                                    "S4SSales_Sub_Region__c": "@{body('Get_record_sfs')?['S4SSales_Sub_Region__c']}",
                                    "S4SSales_Territory__c": "@{body('Get_record_sfs')?['S4SSales_Territory__c']}",
                                    "S4SService_electrical__c": "@{body('Get_record_sfs')?['S4SService_electrical__c']}",
                                    "S4SService_mechanical__c": "@{body('Get_record_sfs')?['S4SService_mechanical__c']}",
                                    "S4SShopfloor_level_square_meters__c": "@{body('Get_record_sfs')?['S4SShopfloor_level_square_meters__c']}",
                                    "S4SShort_Partner_company_description__c": "@{body('Get_record_sfs')?['S4SShort_Partner_company_description__c']}",
                                    "S4SSiemens_Account_Type__c": "@{body('Get_record_sfs')?['S4SSiemens_Account_Type__c']}",
                                    "S4SSkipValidationForDataVisibilty__c": "@{body('Get_record_sfs')?['S4SSkipValidationForDataVisibilty__c']}",
                                    "S4STax_ID__c": "@{body('Get_record_sfs')?['S4STax_ID__c']}",
                                    "S4STotal_Employees__c": "@{body('Get_record_sfs')?['S4STotal_Employees__c']}",
                                    "S4SVertical_Name__c": "@{body('Get_record_sfs')?['S4SVertical_Name__c']}",
                                    "S4S_No_Matched_Accounts_Found__c": "@{body('Get_record_sfs')?['S4S_No_Matched_Accounts_Found__c']}",
                                    "ShippingCity": "@{body('Get_record_sfs')?['ShippingCity']}",
                                    "ShippingCountry": "@{body('Get_record_sfs')?['ShippingCountry']}",
                                    "ShippingCountryCode": "@{body('Get_record_sfs')?['ShippingCountryCode']}",
                                    "ShippingGeocodeAccuracy": "@{body('Get_record_sfs')?['ShippingGeocodeAccuracy']}",
                                    "ShippingLatitude": "@{body('Get_record_sfs')?['ShippingLatitude']}",
                                    "ShippingLongitude": "@{body('Get_record_sfs')?['ShippingLongitude']}",
                                    "ShippingPostalCode": "@{body('Get_record_sfs')?['ShippingPostalCode']}",
                                    "ShippingState": "@{body('Get_record_sfs')?['ShippingState']}",
                                    "ShippingStateCode": "@{body('Get_record_sfs')?['ShippingStateCode']}",
                                    "ShippingStreet": "@{body('Get_record_sfs')?['ShippingStreet']}",
                                    "Sic": "@{body('Get_record_sfs')?['Sic']}",
                                    "SicDesc": "@{body('Get_record_sfs')?['SicDesc']}",
                                    "Site": "@{body('Get_record_sfs')?['Site']}",
                                    "SystemModstamp": "@{body('Get_record_sfs')?['SystemModstamp']}",
                                    "TickerSymbol": "@{body('Get_record_sfs')?['TickerSymbol']}",
                                    "Type": "@{body('Get_record_sfs')?['Type']}",
                                    "Website": "@{body('Get_record_sfs')?['Website']}"
                                }
                            ]
                        },
                        "runAfter": {
                            "Get_record_sfs": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                               "properties": [
                                   "inputs"
                              ]      
                           }
                       },
                        "type": "Compose"
                    },
                    "Condition_to_check_Account_Id": {
                        "actions": {
                            "Set_where_Clause": {
                                "inputs": {
                                    "name": "AccountWhere Clause",
                                    "value": "@{concat('Id= ',string(''''),variables('AccountId'),string(''''))}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@variables('AccountId')",
                                            "@string('')"
                                        ]
                                    }
                                },
                                {
                                    "not": {
                                        "equals": [
                                            "@variables('AccountId')",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    },
                    "Condition_to_check_IFA_number": {
                        "actions": {
                            "Condition_to_check_Initialized_WhereClause": {
                                "actions": {
                                    "Set_InitializeWhereClause": {
                                        "inputs": {
                                            "name": "initalizeWhereClauseAppend",
                                            "value": "@{concat('and S4SIfA__c=  ',string(''''),variables('IfaNumber'),string(''''))}"
                                        },
                                        "runAfter": {},
                                        "type": "SetVariable"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Set_initialise_whereClause": {
                                            "inputs": {
                                                "name": "initalizeWhereClauseAppend",
                                                "value": "@{concat(' S4SIfA__c=  ',string(''''),variables('IfaNumber'),string(''''))}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "not": {
                                                "equals": [
                                                    "@variables('initalizeWhereClauseAppend')",
                                                    "@null"
                                                ]
                                            }
                                        }
                                    ]
                                },
                                "runAfter": {},
                                "type": "If"
                            },
                            "Set_final_where_clause": {
                                "inputs": {
                                    "name": "AppendWhereClause",
                                    "value": "@{concat(variables('AccountWhere Clause'),variables('initalizeWhereClauseAppend'))}"
                                },
                                "runAfter": {
                                    "Condition_to_check_Initialized_WhereClause": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@variables('IfaNumber')",
                                            "@string('')"
                                        ]
                                    }
                                },
                                {
                                    "not": {
                                        "equals": [
                                            "@variables('IfaNumber')",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "Condition_to_check_Account_Id": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Get_record_sfs": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['salesForceConnection']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/v2/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Account'))}/items/@{encodeURIComponent(encodeURIComponent(variables('AccountId')))}",
                            "retryPolicy": {
                                "type": "none"
                            }
                        },
                        "runAfter": {
                            "Condition_to_check_IFA_number": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                               "properties": [
                                   "inputs",
                                   "outputs"
                              ]      
                           }
                       },
                        "type": "ApiConnection"
                    },
                    "Response": {
                        "inputs": {
                            "body": "@outputs('Compose')",
                            "statusCode": 200
                        },
                        "kind": "Http",
                        "runAfter": {
                            "Compose": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                               "properties": [
                                   "inputs"
                              ]      
                           }
                       },
                        "type": "Response"
                    }
                },
                "runAfter": {
                    "Condition_to_set_account_Id": [
                        "Succeeded"
                    ]
                },
                "trackedProperties": {
                "apimRouting": "external",
                "citizenName": "c00031",
                "correlationId": "not-defined",
                "interfaceName": "SFS",
                "interfacePartner": "not-defined",
                "interfaceVersion": "not-defined",
                "operationName": "internal_fetchAccount",
                "parentWorkflow": "not-defined"
            },
                "type": "Scope"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "IsInputvalueAccId": {
                                "description": "To check if input value is account Id",
                                "required": "true",
                                "type": "boolean"
                            },
                            "requestBody": {
                                "description": "The request body to be sent to target service. The body should be sent as base64Encoded string",
                                "required": "true",
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "runtimeConfiguration": {
                    "secureData": {
                       "properties": [
                           "inputs",
                           "outputs"
                      ]      
                   }
               },
                "type": "Request"
            }
        }
}