tests/laconversion/spiridon/flow-SIE_SF4S_searchOpportunity.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
        "Initialize_variable_ZeroResults": {
            "inputs": {
                "variables": [
                    {
                        "name": "ZeroResults",
                        "type": "string"
                    }
                ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
        },
        "Initialize_variable_fetchCompose": {
            "inputs": {
                "variables": [
                    {
                        "name": "fetchCompose",
                        "type": "string"
                    }
                ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
        },
        "Initialize_variable_fetchResponse": {
            "inputs": {
                "variables": [
                    {
                        "name": "fetchResponse",
                        "type": "string"
                    }
                ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
        },
        "Initialize_variable_finalResponse": {
            "inputs": {
                "variables": [
                    {
                        "name": "finalResponse",
                        "type": "string"
                    }
                ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
        },
        "Initialize_variable_whereClause": {
            "inputs": {
                "variables": [
                    {
                        "name": "whereClause",
                        "type": "string",
                        "value": "Id='@{trim(xpath(xml(triggerBody()), 'string(/*[local-name()=\"Id\"])'))}'"
                    }
                ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
        },
        "Initialize_variable_whereClauseForfetchOpp": {
            "inputs": {
                "variables": [
                    {
                        "name": "whereClauseForfetchOpp",
                        "type": "string"
                    }
                ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
        },
        "Scope_Catch": {
            "actions": {
                "Response_Error": {
                    "inputs": {
                        "body": "Internal Server Error",
                        "headers": {
                            "Content-Type": "text/xml"
                        },
                        "statusCode": 500
                    },
                    "kind": "Http",
                    "runAfter": {},
                    "type": "Response"
                }
            },
            "runAfter": {
                "Scope_Try": [
                    "Failed"
                ]
            },
            "type": "Scope"
        },
        "Scope_Try": {
            "actions": {
                "Condition_to_Check_Status_Of_SOQLQuery": {
                    "actions": {
                        "Response_2": {
                            "inputs": {
                                "body": "<SIE_SF4S_searchOpportunityResponse />",
                                "statusCode": 200
                            },
                            "kind": "http",
                            "runAfter": {},
                            "type": "Response"
                        },
                        "Terminate": {
                            "inputs": {
                                "runStatus": "Succeeded"
                            },
                            "runAfter": {
                                "Response_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate"
                        }
                    },
                    "else": {
                        "actions": {
                            "Scope_SubCatch": {
                                "actions": {
                                    "Response_3": {
                                        "inputs": {
                                            "statusCode": 400
                                        },
                                        "kind": "http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                },
                                "runAfter": {
                                    "Scope_SubTry": [
                                        "Failed",
                                        "Skipped",
                                        "TimedOut"
                                    ]
                                },
                                "type": "Scope"
                            },
                            "Scope_SubTry": {
                                "actions": {
                                    "Compose_finalResponse": {
                                        "inputs": "@json(if(equals(variables('finalResponse'),''),concat('{\"SIE_SF4S_searchOpportunityOutput\": {\"Opportunity\": [',variables('ZeroResults'),']}}'),concat('{\"SIE_SF4S_searchOpportunityOutput\": { \"Opportunity\": [',variables('finalResponse'),']}}')))",
                                        "runAfter": {
                                            "For_each_record_of_Query": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Compose"
                                    },
                                    "Compose_Final_Response": {
                                        "inputs": "@xml(json(concat('{ \"SIE_SF4S_searchOpportunityResponse\": { \"Opportunity\": [ ', variables('fetchCompose'), ']}}')))",
                                        "runAfter": {
                                            "For_each_Opportunity": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Compose"
                                    },
                                    "For_each_record_of_Query": {
                                        "actions": {
                                            "Compose_Response": {
                                                "inputs": {
                                                    "Id": "@{items('For_each_record_of_Query')?['Id']}",
                                                    "Name": "@{items('For_each_record_of_Query')?['Name']}",
                                                    "S4SReference_Id__c": "@{items('For_each_record_of_Query')?['S4SReference_Id__c']}"
                                                },
                                                "runAfter": {},
                                                "type": "Compose"
                                            },
                                            "Compose_Final-Response": {
                                                "inputs": "@if(equals(variables('finalResponse'),''),outputs('Compose_Response'),concat(variables('finalResponse'),',',outputs('Compose_Response')))",
                                                "runAfter": {
                                                    "Compose_Response": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Compose"
                                            },
                                            "Set_variable_finalResponse": {
                                                "inputs": {
                                                    "name": "finalResponse",
                                                    "value": "@{outputs('Compose_Final-Response')}"
                                                },
                                                "runAfter": {
                                                    "Compose_Final-Response": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@body('Execute_SOQL_query_Opportunity')?['records']",
                                        "runAfter": {},
                                        "runtimeConfiguration": {
                                            "concurrency": {
                                                "repetitions": 1
                                            }
                                        },
                                        "type": "Foreach"
                                    },
                                    "For_each_Opportunity": {
                                        "actions": {
                                            "Execute_a_SOQL_query_Opportunity": {
                                                "inputs": {
                                                    "body": {
                                                        "query": "select Id,IsDeleted,AccountId,RecordTypeId,Name,Description,StageName,Amount,Probability,S4SSold_To_SAP__c,ExpectedRevenue,TotalOpportunityQuantity,CloseDate,Type,NextStep,LeadSource,IsClosed,IsWon,ForecastCategory,ForecastCategoryName,CurrencyIsoCode,CampaignId,HasOpportunityLineItem,Pricebook2Id,OwnerId,CreatedDate,CreatedById,LastModifiedDate,LastModifiedById,SystemModstamp,LastActivityDate,FiscalQuarter,FiscalYear,Fiscal,LastViewedDate,LastReferencedDate,SyncedQuoteId,ContractId,HasOpenActivity,HasOverdueTask,Budget_Confirmed__c,Discovery_Completed__c,ROI_Analysis_Completed__c,Loss_Reason__c,S4SAcceptance_Closure__c,S4SAccount_Industry__c,S4SAlternative_Opportunity__c,S4SAmount_Financed__c,S4SAssigned_parental_Opportunity__c,S4SB2A_Outcome__c,S4SB2A_type__c,S4SBid_approval_PM040__c,S4SBooking_Funding_Date__c,S4SBusiness_Model_ZRG__c,S4SBusiness_Unit__c,S4SCAPEX__c,S4SChance_of_Execution__c,S4SChance_of_Success__c,S4SCity__c,S4SClosing_Date__c,S4SCommission_Country_1__c,S4SCommission_Country_2__c,S4SCommission_Country_3__c,S4SCommission_Country_4__c,S4SCommission_Percentage_1__c,S4SCommission_Percentage_2__c,S4SCommission_Percentage_3__c,S4SCommission_Percentage_4__c,S4SCompetitors__c,S4SContract_Duration_Month__c,S4SCorp_Lead_Country__c,S4SCountry_of_Installation__c,S4SCreated_from_Lead__c,S4SCross_Border_International_Business__c,S4SCustomer_Agreement_for_Data_Transfer__c,S4SCustomer_Rate__c,S4SDiscussion_in_PEF_Deal_Flow_Call__c,S4SDist_Channel__c,S4SDistribution_channel__c,S4SDivision__c,S4SEUR_Exchange_Rate__c,S4SEnd_Account_Account__c,S4SEnd_Account_Industry__c,S4SEnd_Account__c,S4SExpiry_Date_Risk_Approval__c,S4SField_of_Activity__c,S4SFinance_Product_Label__c,S4SFinancing_Demand_Division__c,S4SFinancing_Need__c,S4SFinancing_Product__c,S4SFunding_limit__c,S4SGross_Margin__c,S4SHas_Children__c,S4SIBIT__c,S4SInitial_Purchase_Price__c,S4SInstallation__c,S4SInternal_Interest_Rate__c,S4SIntroducer_Sales__c,S4SInvesting_ARE__c,S4SInvolded_Siemens_Entities__c,S4SInvolved_Competence_Center__c,S4SMain_Reason__c,S4SMarked_for_Deletion__c,S4SOPEX__c,S4SOPPORTUNITY_LegacyID__c,S4SOffer_Reference_ID__c,S4SOpportunity_Industry_Search__c,S4SOpportunity_Industry__c,S4SOpportunity_Type__c,S4SOrder_Intake_EUR__c,S4SOrder_Intake_USD__c,DB_Competitor__c,S4SOverdue_Time__c,S4SOwn_Content_Own_BU_Products__c,S4SOwn_Content_Own_DIV_Products__c,S4SOwn_Content_Own_DIV_Services__c,S4SOwn_Content_Siemens_Products_Services__c,S4SPEF_Advisory_Scope__c,S4SPM040_Released_Gross_Margin__c,S4SPM040_Released_Profit_EBIT__c,S4SPM040_Released_Risk_Contigency__c,S4SPM040_Released_Volume__c,S4SPM040_Transfer_date__c,S4SPM070_Transfer_Date__c,S4SPM070_Won_lost_Gross_Margin__c,S4SPM070_Won_lost_Profit_EBIT__c,S4SPM070_Won_lost_Risk_Contigency__c,S4SPM070_Won_lost_Volume__c,S4SAccount_Name_International__c,S4SPotential_Siemens_Volume__c,S4SPrevious_Stage__c,S4SPrevious_Status__c,S4SPrevious_System_Unique_ID__c,S4SPrimary_BookingItemID__c,S4SPrimary_CompetitorID__c,S4SProposed_to_COF__c,S4SProposed_to_Debt__c,S4SProposed_to_Equity__c,S4SROE__c,S4SReason_not_won__c,S4SReference_ID__c,S4SRelevant_for_Forecast__c,S4SSFS_Account_Rating_Date__c,S4SSFS_Account_Rating_Type__c,S4SSFS_Account_Rating__c,S4SSFS_Confidential__c,S4SSFS_Opportunity_Rating_Date__c,S4SSFS_Opportunity_Rating_Type__c,S4SSFS_Opportunity_Rating__c,S4SSOC_Category__c,S4SSale_Country__c,S4SSales_Branch__c,S4SSales_Department__c,S4SSales_District__c,S4SSales_Office__c,S4SSales_Status__c,S4SSales_Subregion__c,S4SSales_Territory__c,S4SSales_Type__c,S4SSalesforce_ID__c,S4SSenior_Leverage__c,S4SSite__c,S4SSolution_Support_End_Date__c,S4SSource__c,S4SSpread__c,S4SStart_project_PM080__c,S4SStatus_since__c,S4SStrategic_Priority__c,S4STarget_IRR__c,S4STerritory_Structure__c,S4STerritory__c,S4SThereof_SPV_SFS_Inc__c,S4STimestamp_to_COF__c,S4STimestamp_to_Debt__c,S4STimestamp_to_Equity__c,S4STotal_Debt_of_Opportunity__c,S4STotal_Equity_incl_Shareholder_Loans__c,S4STotal_Investment__c,S4STotal_Leverage__c,S4STotal_OI_Recurring_Business__c,S4STotal_Product_Amount_EUR__c,S4STotal_Product_Amount_USD__c,S4STotal_Project_Value__c,S4SType_of_Transaction__c,S4SUSD_Exchange_Rate__c,S4SWeighted_Order_Intake_EUR__c,S4SWeighted_Order_Intake_USD__c,S4SWeighted_Order_Intake__c,S4SWinner__c,S4SZip_Code__c,S4SBooking_Line_Item_Count__c,S4SCompetitorCount__c,S4SOrder_Intake__c,S4SPrimaryCompetitorCount__c,S4SPrimaryLineItemCount__c,S4STotal_SFS_Amount_to_fund_at_close__c,S4STotal_of_All_Tranches__c,S4STotal_of_Allocated_Amount__c,S4STotal_of_Approved_Amount__c,S4STotal_of_Requested_Amount__c,S4SAsset_Group__c,S4SAsset_Type__c,S4SBuy_America_n__c,S4SCOF_Country__c,S4SCategorization__c,S4SConfidentiality_Status__c,S4SContract_Schedule__c,S4SContract__c,S4SContractual_Insurance_requirements__c,S4SGovernmental_Agency__c,S4SGovernmental_Entity_Government_Funded__c,S4SInsurance_Database_ID__c,S4SIntroducer_Account_Name__c,S4SLOA_ID_Number__c,S4SOpportunity_Amount_EUR__c,S4SOpportunity_Amount_USD__c,S4SOur_Role__c,S4SPlanning_Tool__c,S4SProject_Volume__c,S4SRate_Spread__c,S4SSAP_Number__c,S4SSFS_Equity_Share__c,S4SSiemens_Equity__c,S4SWeighted_Total_Product_Amount_EUR__c,S4SWeighted_Total_Product_Amount_USD__c,S4SWeighted_Total_Product_Amount__c,S4SAdvisory_Volume__c,S4S_Total_SFS_Amount_Rollup__c,S4SApproval_Check__c,S4SApproval_Pending__c,S4SCreate_COMPAS_Quote__c,S4SExternal_Source__c,S4SLast_Sync_with_COMPAS__c,S4SOrder_Intake_Opportunity_Amount__c,S4SOriginal_Project_Solution_Opportunity__c,S4SProject_Category__c,S4SSystem_Installation_Type__c,S4SUserId__c,S4SWeighted_Opportunity_Amount__c,S4SWeighted_Order_Intake_Opp_Amount__c,S4SFinance_Product_Type__c,Account.Id,Account.Name,Account.Type,Account.S4SIfA__c,Owner.LastName,Owner.FirstName,Owner.Division,Owner.Email,Owner.FederationIdentifier,Owner.S4SGID_Technical__c,Owner.S4SGID__c,S4SEnd_Account__r.ID,S4SEnd_Account__r.Name,S4SEnd_Account__r.Type,S4SEnd_Account__r.S4SIfA__c from Opportunity where @{variables('whereClauseForfetchOpp')}"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['salesForceConnection']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/soql/executesoqlquery"
                                                },
                                                "runAfter": {
                                                    "set_variable_whereClauseForFetchOpp": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection"
                                            },
                                            "For_each_Opp": {
                                                "actions": {
                                                    "Compose_Opp": {
                                                        "inputs": {
                                                            "Account": {
                                                                "Id": "@{items('For_each_Opp')?['Account']?['Id']}",
                                                                "Name": "@{items('For_each_Opp')?['Account']?['Name']}",
                                                                "S4SIfA__c": "@{items('For_each_Opp')?['Account']?['S4SIfA__c']}",
                                                                "Type": "@{items('For_each_Opp')?['Account']?['Type']}"
                                                            },
                                                            "AccountId": "@{items('For_each_Opp')?['AccountId']}",
                                                            "Amount": "@{items('For_each_Opp')?['Amount']}",
                                                            "Budget_Confirmed__c": "@{items('For_each_Opp')?['Budget_Confirmed__c']}",
                                                            "CampaignId": "@{items('For_each_Opp')?['CampaignId']}",
                                                            "CloseDate": "@{items('For_each_Opp')?['CloseDate']}",
                                                            "ContractId": "@{items('For_each_Opp')?['ContractId']}",
                                                            "CreatedById": "@{items('For_each_Opp')?['CreatedById']}",
                                                            "CreatedDate": "@{items('For_each_Opp')?['CreatedDate']}",
                                                            "CurrencyIsoCode": "@{items('For_each_Opp')?['CurrencyIsoCode']}",
                                                            "DB_Competitor__c": "@{items('For_each_Opp')?['DB_Competitor__c']}",
                                                            "Description": "@{items('For_each_Opp')?['Description']}",
                                                            "Discovery_Completed__c": "@{items('For_each_Opp')?['Discovery_Completed__c']}",
                                                            "ExpectedRevenue": "@{items('For_each_Opp')?['ExpectedRevenue']}",
                                                            "Fiscal": "@{items('For_each_Opp')?['Fiscal']}",
                                                            "FiscalQuarter": "@{items('For_each_Opp')?['FiscalQuarter']}",
                                                            "FiscalYear": "@{items('For_each_Opp')?['FiscalYear']}",
                                                            "ForecastCategory": "@{items('For_each_Opp')?['ForecastCategory']}",
                                                            "ForecastCategoryName": "@{items('For_each_Opp')?['ForecastCategoryName']}",
                                                            "HasOpenActivity": "@{items('For_each_Opp')?['HasOpenActivity']}",
                                                            "HasOpportunityLineItem": "@{items('For_each_Opp')?['HasOpportunityLineItem']}",
                                                            "HasOverdueTask": "@{items('For_each_Opp')?['HasOverdueTask']}",
                                                            "Id": "@{items('For_each_Opp')?['Id']}",
                                                            "IsClosed": "@{items('For_each_Opp')?['IsClosed']}",
                                                            "IsDeleted": "@{items('For_each_Opp')?['IsDeleted']}",
                                                            "IsWon": "@{items('For_each_Opp')?['IsWon']}",
                                                            "LastActivityDate": "@{items('For_each_Opp')?['LastActivityDate']}",
                                                            "LastModifiedById": "@{items('For_each_Opp')?['LastModifiedById']}",
                                                            "LastModifiedDate": "@{items('For_each_Opp')?['LastModifiedDate']}",
                                                            "LastReferencedDate": "@{items('For_each_Opp')?['LastReferencedDate']}",
                                                            "LastViewedDate": "@{items('For_each_Opp')?['LastViewedDate']}",
                                                            "LeadSource": "@{items('For_each_Opp')?['LeadSource']}",
                                                            "Loss_Reason__c": "@{items('For_each_Opp')?['Loss_Reason__c']}",
                                                            "Name": "@{items('For_each_Opp')?['Name']}",
                                                            "NextStep": "@{items('For_each_Opp')?['NextStep']}",
                                                            "Owner": {
                                                                "Devision": "@{items('For_each_Opp')?['Owner']?['Devision']}",
                                                                "Email": "@{items('For_each_Opp')?['Owner']?['Email']}",
                                                                "FederationIdentifier": "@{items('For_each_Opp')?['Owner']?['FederationIdentifier']}",
                                                                "FirstName": "@{items('For_each_Opp')?['Owner']?['FirstName']}",
                                                                "LastName": "@{items('For_each_Opp')?['Owner']?['LastName']}",
                                                                "S4SGID_Technical__c": "@{items('For_each_Opp')?['Owner']?['S4SGID_Technical__c']}",
                                                                "S4SGID__c": "@{items('For_each_Opp')?['Owner']?['S4SGID__c']}"
                                                            },
                                                            "OwnerId": "@{items('For_each_Opp')?['OwnerId']}",
                                                            "Pricebook2Id": "@{items('For_each_Opp')?['Pricebook2Id']}",
                                                            "Probability": "@{items('For_each_Opp')?['Probability']}",
                                                            "ROI_Analysis_Completed__c": "@{items('For_each_Opp')?['ROI_Analysis_Completed__c']}",
                                                            "RecordTypeId": "@{items('For_each_Opp')?['RecordTypeId']}",
                                                            "S4SAcceptance_Closure__c": "@{items('For_each_Opp')?['S4SAcceptance_Closure__c']}",
                                                            "S4SAccount_Industry__c": "@{items('For_each_Opp')?['S4SAccount_Industry__c']}",
                                                            "S4SAccount_Name_International__c": "@{items('For_each_Opp')?['S4SAccount_Name_International__c']}",
                                                            "S4SAdvisory_Volume__c": "@{items('For_each_Opp')?['S4SAdvisory_Volume__c']}",
                                                            "S4SAlternative_Opportunity__c": "@{items('For_each_Opp')?['S4SAlternative_Opportunity__c']}",
                                                            "S4SAmount_Financed__c": "@{items('For_each_Opp')?['S4SAmount_Financed__c']}",
                                                            "S4SApproval_Check__c": "@{items('For_each_Opp')?['S4SApproval_Check__c']}",
                                                            "S4SApproval_Pending__c": "@{items('For_each_Opp')?['S4SApproval_Pending__c']}",
                                                            "S4SAsset_Group__c": "@{items('For_each_Opp')?['S4SAsset_Group__c']}",
                                                            "S4SAsset_Type__c": "@{items('For_each_Opp')?['S4SAsset_Type__c']}",
                                                            "S4SAssigned_parental_Opportunity__c": "@{items('For_each_Opp')?['S4SAssigned_parental_Opportunity__c']}",
                                                            "S4SB2A_Outcome__c": "@{items('For_each_Opp')?['S4SB2A_Outcome__c']}",
                                                            "S4SB2A_type__c": "@{items('For_each_Opp')?['S4SB2A_type__c']}",
                                                            "S4SBid_approval_PM040__c": "@{items('For_each_Opp')?['S4SBid_approval_PM040__c']}",
                                                            "S4SBooking_Funding_Date__c": "@{items('For_each_Opp')?['S4SBooking_Funding_Date__c']}",
                                                            "S4SBooking_Line_Item_Count__c": "@{items('For_each_Opp')?['S4SBooking_Line_Item_Count__c']}",
                                                            "S4SBusiness_Model_ZRG__c": "@{items('For_each_Opp')?['S4SBusiness_Model_ZRG__c']}",
                                                            "S4SBusiness_Unit__c": "@{items('For_each_Opp')?['S4SBusiness_Unit__c']}",
                                                            "S4SBuy_America_n__c": "@{items('For_each_Opp')?['S4SBuy_America_n__c']}",
                                                            "S4SCAPEX__c": "@{items('For_each_Opp')?['S4SCAPEX__c']}",
                                                            "S4SCOF_Country__c": "@{items('For_each_Opp')?['S4SCOF_Country__c']}",
                                                            "S4SCategorization__c": "@{items('For_each_Opp')?['S4SCategorization__c']}",
                                                            "S4SChance_of_Execution__c": "@{items('For_each_Opp')?['S4SChance_of_Execution__c']}",
                                                            "S4SChance_of_Success__c": "@{items('For_each_Opp')?['S4SChance_of_Success__c']}",
                                                            "S4SCity__c": "@{items('For_each_Opp')?['S4SCity__c']}",
                                                            "S4SClosing_Date__c": "@{items('For_each_Opp')?['S4SClosing_Date__c']}",
                                                            "S4SCommission_Country_1__c": "@{items('For_each_Opp')?['S4SCommission_Country_1__c']}",
                                                            "S4SCommission_Country_2__c": "@{items('For_each_Opp')?['S4SCommission_Country_2__c']}",
                                                            "S4SCommission_Country_3__c": "@{items('For_each_Opp')?['S4SCommission_Country_3__c']}",
                                                            "S4SCommission_Country_4__c": "@{items('For_each_Opp')?['S4SCommission_Country_4__c']}",
                                                            "S4SCommission_Percentage_1__c": "@{items('For_each_Opp')?['S4SCommission_Percentage_1__c']}",
                                                            "S4SCommission_Percentage_2__c": "@{items('For_each_Opp')?['S4SCommission_Percentage_2__c']}",
                                                            "S4SCommission_Percentage_3__c": "@{items('For_each_Opp')?['S4SCommission_Percentage_3__c']}",
                                                            "S4SCommission_Percentage_4__c": "@{items('For_each_Opp')?['S4SCommission_Percentage_4__c']}",
                                                            "S4SCompetitorCount__c": "@{items('For_each_Opp')?['S4SCompetitorCount__c']}",
                                                            "S4SCompetitors__c": "@{items('For_each_Opp')?['S4SCompetitors__c']}",
                                                            "S4SConfidentiality_Status__c": "@{items('For_each_Opp')?['S4SConfidentiality_Status__c']}",
                                                            "S4SContract_Duration_Month__c": "@{items('For_each_Opp')?['S4SContract_Duration_Month__c']}",
                                                            "S4SContract_Schedule__c": "@{items('For_each_Opp')?['S4SContract_Schedule__c']}",
                                                            "S4SContract__c": "@{items('For_each_Opp')?['S4SContract__c']}",
                                                            "S4SContractual_Insurance_requirements__c": "@{items('For_each_Opp')?['S4SContractual_Insurance_requirements__c']}",
                                                            "S4SCorp_Lead_Country__c": "@{items('For_each_Opp')?['S4SCorp_Lead_Country__c']}",
                                                            "S4SCountry_of_Installation__c": "@{items('For_each_Opp')?['S4SCountry_of_Installation__c']}",
                                                            "S4SCreate_COMPAS_Quote__c": "@{items('For_each_Opp')?['S4SCreate_COMPAS_Quote__c']}",
                                                            "S4SCreated_from_Lead__c": "@{items('For_each_Opp')?['S4SCreated_from_Lead__c']}",
                                                            "S4SCross_Border_International_Business__c": "@{items('For_each_Opp')?['S4SCross_Border_International_Business__c']}",
                                                            "S4SCustomer_Agreement_for_Data_Transfer__c": "@{items('For_each_Opp')?['S4SCustomer_Agreement_for_Data_Transfer__c']}",
                                                            "S4SCustomer_Rate__c": "@{items('For_each_Opp')?['S4SCustomer_Rate__c']}",
                                                            "S4SDiscussion_in_PEF_Deal_Flow_Call__c": "@{items('For_each_Opp')?['S4SDiscussion_in_PEF_Deal_Flow_Call__c']}",
                                                            "S4SDist_Channel__c": "@{items('For_each_Opp')?['S4SDist_Channel__c']}",
                                                            "S4SDistribution_channel__c": "@{items('For_each_Opp')?['S4SDistribution_channel__c']}",
                                                            "S4SDivision__c": "@{items('For_each_Opp')?['S4SDivision__c']}",
                                                            "S4SEUR_Exchange_Rate__c": "@{items('For_each_Opp')?['S4SEUR_Exchange_Rate__c']}",
                                                            "S4SEnd_Account_Account__c": "@{items('For_each_Opp')?['S4SEnd_Account_Account__c']}",
                                                            "S4SEnd_Account_Industry__c": "@{items('For_each_Opp')?['S4SEnd_Account_Industry__c']}",
                                                            "S4SEnd_Account__c": "@{items('For_each_Opp')?['S4SEnd_Account__c']}",
                                                            "S4SEnd_Account__r": {
                                                                "ID": "@{items('For_each_Opp')?['S4SEnd_Account__r']?['Id']}",
                                                                "Name": "@{items('For_each_Opp')?['S4SEnd_Account__r']?['Name']}",
                                                                "S4SIfA__c": "@{items('For_each_Opp')?['S4SIfA__c']}",
                                                                "Type": "@{items('For_each_Opp')?['S4SEnd_Account__r']?['Type']}"
                                                            },
                                                            "S4SExpiry_Date_Risk_Approval__c": "@{items('For_each_Opp')?['S4SExpiry_Date_Risk_Approval__c']}",
                                                            "S4SExternal_Source__c": "@{items('For_each_Opp')?['S4SExternal_Source__c']}",
                                                            "S4SField_of_Activity__c": "@{items('For_each_Opp')?['S4SField_of_Activity__c']}",
                                                            "S4SFinance_Product_Label__c": "@{items('For_each_Opp')?['S4SFinance_Product_Label__c']}",
                                                            "S4SFinance_Product_Type__c": "@{items('For_each_Opp')?['S4SFinance_Product_Type__c']}",
                                                            "S4SFinancing_Demand_Division__c": "@{items('For_each_Opp')?['S4SFinancing_Demand_Division__c']}",
                                                            "S4SFinancing_Need__c": "@{items('For_each_Opp')?['S4SFinancing_Need__c']}",
                                                            "S4SFinancing_Product__c": "@{items('For_each_Opp')?['S4SFinancing_Product__c']}",
                                                            "S4SFunding_limit__c": "@{items('For_each_Opp')?['S4SFunding_limit__c']}",
                                                            "S4SGovernmental_Agency__c": "@{items('For_each_Opp')?['S4SGovernmental_Agency__c']}",
                                                            "S4SGovernmental_Entity_Government_Funded__c": "@{items('For_each_Opp')?['S4SGovernmental_Entity_Government_Funded__c']}",
                                                            "S4SGross_Margin__c": "@{items('For_each_Opp')?['S4SGross_Margin__c']}",
                                                            "S4SHas_Children__c": "@{items('For_each_Opp')?['S4SHas_Children__c']}",
                                                            "S4SIBIT__c": "@{items('For_each_Opp')?['S4SIBIT__c']}",
                                                            "S4SInitial_Purchase_Price__c": "@{items('For_each_Opp')?['S4SInitial_Purchase_Price__c']}",
                                                            "S4SInstallation__c": "@{items('For_each_Opp')?['S4SInstallation__c']}",
                                                            "S4SInsurance_Database_ID__c": "@{items('For_each_Opp')?['S4SInsurance_Database_ID__c']}",
                                                            "S4SInternal_Interest_Rate__c": "@{items('For_each_Opp')?['S4SInternal_Interest_Rate__c']}",
                                                            "S4SIntroducer_Account_Name__c": "@{items('For_each_Opp')?['S4SIntroducer_Account_Name__c']}",
                                                            "S4SIntroducer_Sales__c": "@{items('For_each_Opp')?['S4SIntroducer_Sales__c']}",
                                                            "S4SInvesting_ARE__c": "@{items('For_each_Opp')?['S4SInvesting_ARE__c']}",
                                                            "S4SInvolded_Siemens_Entities__c": "@{items('For_each_Opp')?['S4SInvolded_Siemens_Entities__c']}",
                                                            "S4SInvolved_Competence_Center__c": "@{items('For_each_Opp')?['S4SInvolved_Competence_Center__c']}",
                                                            "S4SLOA_ID_Number__c": "@{items('For_each_Opp')?['S4SLOA_ID_Number__c']}",
                                                            "S4SLast_Sync_with_COMPAS__c": "@{items('For_each_Opp')?['S4SLast_Sync_with_COMPAS__c']}",
                                                            "S4SMain_Reason__c": "@{items('For_each_Opp')?['S4SMain_Reason__c']}",
                                                            "S4SMarked_for_Deletion__c": "@{items('For_each_Opp')?['S4SMarked_for_Deletion__c']}",
                                                            "S4SOPEX__c": "@{items('For_each_Opp')?['S4SOPEX__c']}",
                                                            "S4SOPPORTUNITY_LegacyID__c": "@{items('For_each_Opp')?['S4SOPPORTUNITY_LegacyID__c']}",
                                                            "S4SOffer_Reference_ID__c": "@{items('For_each_Opp')?['S4SOffer_Reference_ID__c']}",
                                                            "S4SOpportunity_Amount_EUR__c": "@{items('For_each_Opp')?['S4SOpportunity_Amount_EUR__c']}",
                                                            "S4SOpportunity_Amount_USD__c": "@{items('For_each_Opp')?['S4SOpportunity_Amount_USD__c']}",
                                                            "S4SOpportunity_Industry_Search__c": "@{items('For_each_Opp')?['S4SOpportunity_Industry_Search__c']}",
                                                            "S4SOpportunity_Industry__c": "@{items('For_each_Opp')?['S4SOpportunity_Industry__c']}",
                                                            "S4SOpportunity_Type__c": "@{items('For_each_Opp')?['S4SOpportunity_Type__c']}",
                                                            "S4SOrder_Intake_EUR__c": "@{items('For_each_Opp')?['S4SOrder_Intake_EUR__c']}",
                                                            "S4SOrder_Intake_Opportunity_Amount__c": "@{items('For_each_Opp')?['S4SOrder_Intake_Opportunity_Amount__c']}",
                                                            "S4SOrder_Intake_USD__c": "@{items('For_each_Opp')?['S4SOrder_Intake_USD__c']}",
                                                            "S4SOrder_Intake__c": "@{items('For_each_Opp')?['S4SOrder_Intake__c']}",
                                                            "S4SOriginal_Project_Solution_Opportunity__c": "@{items('For_each_Opp')?['S4SOriginal_Project_Solution_Opportunity__c']}",
                                                            "S4SOur_Role__c": "@{items('For_each_Opp')?['S4SOur_Role__c']}",
                                                            "S4SOverdue_Time__c": "@{items('For_each_Opp')?['S4SOverdue_Time__c']}",
                                                            "S4SOwn_Content_Own_BU_Products__c": "@{items('For_each_Opp')?['S4SOwn_Content_Own_BU_Products__c']}",
                                                            "S4SOwn_Content_Own_DIV_Products__c": "@{items('For_each_Opp')?['S4SOwn_Content_Own_DIV_Products__c']}",
                                                            "S4SOwn_Content_Own_DIV_Services__c": "@{items('For_each_Opp')?['S4SOwn_Content_Own_DIV_Services__c']}",
                                                            "S4SOwn_Content_Siemens_Products_Services__c": "@{items('For_each_Opp')?['S4SOwn_Content_Siemens_Products_Services__c']}",
                                                            "S4SPEF_Advisory_Scope__c": "@{items('For_each_Opp')?['S4SPEF_Advisory_Scope__c']}",
                                                            "S4SPM040_Released_Gross_Margin__c": "@{items('For_each_Opp')?['S4SPM040_Released_Gross_Margin__c']}",
                                                            "S4SPM040_Released_Profit_EBIT__c": "@{items('For_each_Opp')?['S4SPM040_Released_Profit_EBIT__c']}",
                                                            "S4SPM040_Released_Risk_Contigency__c": "@{items('For_each_Opp')?['S4SPM040_Released_Risk_Contigency__c']}",
                                                            "S4SPM040_Released_Volume__c": "@{items('For_each_Opp')?['S4SPM040_Released_Volume__c']}",
                                                            "S4SPM040_Transfer_date__c": "@{items('For_each_Opp')?['S4SPM040_Transfer_date__c']}",
                                                            "S4SPM070_Transfer_Date__c": "@{items('For_each_Opp')?['S4SPM070_Transfer_Date__c']}",
                                                            "S4SPM070_Won_lost_Gross_Margin__c": "@{items('For_each_Opp')?['S4SPM070_Won_lost_Gross_Margin__c']}",
                                                            "S4SPM070_Won_lost_Profit_EBIT__c": "@{items('For_each_Opp')?['S4SPM070_Won_lost_Profit_EBIT__c']}",
                                                            "S4SPM070_Won_lost_Risk_Contigency__c": "@{items('For_each_Opp')?['S4SPM070_Won_lost_Risk_Contigency__c']}",
                                                            "S4SPM070_Won_lost_Volume__c": "@{items('For_each_Opp')?['S4SPM070_Won_lost_Volume__c']}",
                                                            "S4SPlanning_Tool__c": "@{items('For_each_Opp')?['S4SPlanning_Tool__c']}",
                                                            "S4SPotential_Siemens_Volume__c": "@{items('For_each_Opp')?['S4SPotential_Siemens_Volume__c']}",
                                                            "S4SPrevious_Stage__c": "@{items('For_each_Opp')?['S4SPrevious_Stage__c']}",
                                                            "S4SPrevious_Status__c": "@{items('For_each_Opp')?['S4SPrevious_Status__c']}",
                                                            "S4SPrevious_System_Unique_ID__c": "@{items('For_each_Opp')?['S4SPrevious_System_Unique_ID__c']}",
                                                            "S4SPrimaryCompetitorCount__c": "@{items('For_each_Opp')?['S4SPrimaryCompetitorCount__c']}",
                                                            "S4SPrimaryLineItemCount__c": "@{items('For_each_Opp')?['S4SPrimaryLineItemCount__c']}",
                                                            "S4SPrimary_BookingItemID__c": "@{items('For_each_Opp')?['S4SPrimary_BookingItemID__c']}",
                                                            "S4SPrimary_CompetitorID__c": "@{items('For_each_Opp')?['S4SPrimary_CompetitorID__c']}",
                                                            "S4SProject_Category__c": "@{items('For_each_Opp')?['S4SProject_Category__c']}",
                                                            "S4SProject_Volume__c": "@{items('For_each_Opp')?['S4SProject_Volume__c']}",
                                                            "S4SProposed_to_COF__c": "@{items('For_each_Opp')?['S4SProposed_to_COF__c']}",
                                                            "S4SProposed_to_Debt__c": "@{items('For_each_Opp')?['S4SProposed_to_Debt__c']}",
                                                            "S4SProposed_to_Equity__c": "@{items('For_each_Opp')?['S4SProposed_to_Equity__c']}",
                                                            "S4SROE__c": "@{items('For_each_Opp')?['S4SROE__c']}",
                                                            "S4SRate_Spread__c": "@{items('For_each_Opp')?['S4SRate_Spread__c']}",
                                                            "S4SReason_not_won__c": "@{items('For_each_Opp')?['S4SReason_not_won__c']}",
                                                            "S4SReference_ID__c": "@{items('For_each_Opp')?['S4SReference_ID__c']}",
                                                            "S4SRelevant_for_Forecast__c": "@{items('For_each_Opp')?['S4SRelevant_for_Forecast__c']}",
                                                            "S4SSAP_Number__c": "@{items('For_each_Opp')?['S4SSAP_Number__c']}",
                                                            "S4SSFS_Account_Rating_Date__c": "@{items('For_each_Opp')?['S4SSFS_Account_Rating_Date__c']}",
                                                            "S4SSFS_Account_Rating_Type__c": "@{items('For_each_Opp')?['S4SSFS_Account_Rating_Type__c']}",
                                                            "S4SSFS_Account_Rating__c": "@{items('For_each_Opp')?['S4SSFS_Account_Rating__c']}",
                                                            "S4SSFS_Confidential__c": "@{items('For_each_Opp')?['S4SSFS_Confidential__c']}",
                                                            "S4SSFS_Equity_Share__c": "@{items('For_each_Opp')?['S4SSFS_Equity_Share__c']}",
                                                            "S4SSFS_Opportunity_Rating_Date__c": "@{items('For_each_Opp')?['S4SSFS_Opportunity_Rating_Date__c']}",
                                                            "S4SSFS_Opportunity_Rating_Type__c": "@{items('For_each_Opp')?['S4SSFS_Opportunity_Rating_Type__c']}",
                                                            "S4SSFS_Opportunity_Rating__c": "@{items('For_each_Opp')?['S4SSFS_Opportunity_Rating__c']}",
                                                            "S4SSOC_Category__c": "@{items('For_each_Opp')?['S4SSOC_Category__c']}",
                                                            "S4SSale_Country__c": "@{items('For_each_Opp')?['S4SSale_Country__c']}",
                                                            "S4SSales_Branch__c": "@{items('For_each_Opp')?['S4SSales_Branch__c']}",
                                                            "S4SSales_Department__c": "@{items('For_each_Opp')?['S4SSales_Department__c']}",
                                                            "S4SSales_District__c": "@{items('For_each_Opp')?['S4SSales_District__c']}",
                                                            "S4SSales_Office__c": "@{items('For_each_Opp')?['S4SSales_Office__c']}",
                                                            "S4SSales_Status__c": "@{items('For_each_Opp')?['S4SSales_Status__c']}",
                                                            "S4SSales_Subregion__c": "@{items('For_each_Opp')?['S4SSales_Subregion__c']}",
                                                            "S4SSales_Territory__c": "@{items('For_each_Opp')?['S4SSales_Territory__c']}",
                                                            "S4SSales_Type__c": "@{items('For_each_Opp')?['S4SSales_Type__c']}",
                                                            "S4SSalesforce_ID__c": "@{items('For_each_Opp')?['S4SSalesforce_ID__c']}",
                                                            "S4SSenior_Leverage__c": "@{items('For_each_Opp')?['S4SSenior_Leverage__c']}",
                                                            "S4SSiemens_Equity__c": "@{items('For_each_Opp')?['S4SSiemens_Equity__c']}",
                                                            "S4SSite__c": "@{items('For_each_Opp')?['S4SSite__c']}",
                                                            "S4SSold_To_SAP__c": "@{items('For_each_Opp')?['S4SSold_To_SAP__c']}",
                                                            "S4SSolution_Support_End_Date__c": "@{items('For_each_Opp')?['S4SSolution_Support_End_Date__c']}",
                                                            "S4SSource__c": "@{items('For_each_Opp')?['S4SSource__c']}",
                                                            "S4SSpread__c": "@{items('For_each_Opp')?['S4SSpread__c']}",
                                                            "S4SStart_project_PM080__c": "@{items('For_each_Opp')?['S4SStart_project_PM080__c']}",
                                                            "S4SStatus_since__c": "@{items('For_each_Opp')?['S4SStatus_since__c']}",
                                                            "S4SStrategic_Priority__c": "@{items('For_each_Opp')?['S4SStrategic_Priority__c']}",
                                                            "S4SSystem_Installation_Type__c": "@{items('For_each_Opp')?['S4SSystem_Installation_Type__c']}",
                                                            "S4STarget_IRR__c": "@{items('For_each_Opp')?['S4STarget_IRR__c']}",
                                                            "S4STerritory_Structure__c": "@{items('For_each_Opp')?['S4STerritory_Structure__c']}",
                                                            "S4STerritory__c": "@{items('For_each_Opp')?['S4STerritory__c']}",
                                                            "S4SThereof_SPV_SFS_Inc__c": "@{items('For_each_Opp')?['S4SThereof_SPV_SFS_Inc__c']}",
                                                            "S4STimestamp_to_COF__c": "@{items('For_each_Opp')?['S4STimestamp_to_COF__c']}",
                                                            "S4STimestamp_to_Debt__c": "@{items('For_each_Opp')?['S4STimestamp_to_Debt__c']}",
                                                            "S4STimestamp_to_Equity__c": "@{items('For_each_Opp')?['S4STimestamp_to_Equity__c']}",
                                                            "S4STotal_Debt_of_Opportunity__c": "@{items('For_each_Opp')?['S4STotal_Debt_of_Opportunity__c']}",
                                                            "S4STotal_Equity_incl_Shareholder_Loans__c": "@{items('For_each_Opp')?['S4STotal_Equity_incl_Shareholder_Loans__c']}",
                                                            "S4STotal_Investment__c": "@{items('For_each_Opp')?['S4STotal_Investment__c']}",
                                                            "S4STotal_Leverage__c": "@{items('For_each_Opp')?['S4STotal_Leverage__c']}",
                                                            "S4STotal_OI_Recurring_Business__c": "@{items('For_each_Opp')?['S4STotal_OI_Recurring_Business__c']}",
                                                            "S4STotal_Product_Amount_EUR__c": "@{items('For_each_Opp')?['S4STotal_Product_Amount_EUR__c']}",
                                                            "S4STotal_Product_Amount_USD__c": "@{items('For_each_Opp')?['S4STotal_Product_Amount_USD__c']}",
                                                            "S4STotal_Project_Value__c": "@{items('For_each_Opp')?['S4STotal_Project_Value__c']}",
                                                            "S4STotal_SFS_Amount_to_fund_at_close__c": "@{items('For_each_Opp')?['S4STotal_SFS_Amount_to_fund_at_close__c']}",
                                                            "S4STotal_of_All_Tranches__c": "@{items('For_each_Opp')?['S4STotal_of_All_Tranches__c']}",
                                                            "S4STotal_of_Allocated_Amount__c": "@{items('For_each_Opp')?['S4STotal_of_Allocated_Amount__c']}",
                                                            "S4STotal_of_Approved_Amount__c": "@{items('For_each_Opp')?['S4STotal_of_Approved_Amount__c']}",
                                                            "S4STotal_of_Requested_Amount__c": "@{items('For_each_Opp')?['S4STotal_of_Requested_Amount__c']}",
                                                            "S4SType_of_Transaction__c": "@{items('For_each_Opp')?['S4SType_of_Transaction__c']}",
                                                            "S4SUSD_Exchange_Rate__c": "@{items('For_each_Opp')?['S4SUSD_Exchange_Rate__c']}",
                                                            "S4SUserId__c": "@{items('For_each_Opp')?['S4SUserId__c']}",
                                                            "S4SWeighted_Opportunity_Amount__c": "@{items('For_each_Opp')?['S4SWeighted_Opportunity_Amount__c']}",
                                                            "S4SWeighted_Order_Intake_EUR__c": "@{items('For_each_Opp')?['S4SWeighted_Order_Intake_EUR__c']}",
                                                            "S4SWeighted_Order_Intake_Opp_Amount__c": "@{items('For_each_Opp')?['S4SWeighted_Order_Intake_Opp_Amount__c']}",
                                                            "S4SWeighted_Order_Intake_USD__c": "@{items('For_each_Opp')?['S4SWeighted_Order_Intake_USD__c']}",
                                                            "S4SWeighted_Order_Intake__c": "@{items('For_each_Opp')?['S4SWeighted_Order_Intake__c']}",
                                                            "S4SWeighted_Total_Product_Amount_EUR__c": "@{items('For_each_Opp')?['S4SWeighted_Total_Product_Amount_EUR__c']}",
                                                            "S4SWeighted_Total_Product_Amount_USD__c": "@{items('For_each_Opp')?['S4SWeighted_Total_Product_Amount_USD__c']}",
                                                            "S4SWeighted_Total_Product_Amount__c": "@{items('For_each_Opp')?['S4SWeighted_Total_Product_Amount__c']}",
                                                            "S4SWinner__c": "@{items('For_each_Opp')?['S4SWinner__c']}",
                                                            "S4SZip_Code__c": "@{items('For_each_Opp')?['S4SZip_Code__c']}",
                                                            "S4S_Total_SFS_Amount_Rollup__c": "@{items('For_each_Opp')?['S4S_Total_SFS_Amount_Rollup__c']}",
                                                            "StageName": "@{items('For_each_Opp')?['StageName']}",
                                                            "SyncedQuoteId": "@{items('For_each_Opp')?['SyncedQuoteId']}",
                                                            "SystemModstamp": "@{items('For_each_Opp')?['SystemModstamp']}",
                                                            "TotalOpportunityQuantity": "@{items('For_each_Opp')?['TotalOpportunityQuantity']}",
                                                            "Type": "@{items('For_each_Opp')?['Type']}"
                                                        },
                                                        "runAfter": {},
                                                        "type": "Compose"
                                                    },
                                                    "Compose_Opp_Response": {
                                                        "inputs": "@if(equals(variables('fetchCompose'),''),outputs('Compose_Opp'),concat(variables('fetchCompose'),',',outputs('Compose_Opp')))",
                                                        "runAfter": {
                                                            "Compose_Opp": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Compose"
                                                    },
                                                    "set_variable_fetchCompose": {
                                                        "inputs": {
                                                            "name": "fetchCompose",
                                                            "value": "@{outputs('Compose_Opp_Response')}"
                                                        },
                                                        "runAfter": {
                                                            "Compose_Opp_Response": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "SetVariable"
                                                    }
                                                },
                                                "foreach": "@body('Execute_a_SOQL_query_Opportunity')?['records']",
                                                "runAfter": {
                                                    "Execute_a_SOQL_query_Opportunity": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Foreach"
                                            },
                                            "set_variable_whereClauseForFetchOpp": {
                                                "inputs": {
                                                    "name": "whereClauseForfetchOpp",
                                                    "value": "Id='@{items('For_each_Opportunity')?['Id']}'"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@outputs('Compose_finalResponse')?['SIE_SF4S_searchOpportunityOutput']?['Opportunity']",
                                        "runAfter": {
                                            "Compose_finalResponse": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "concurrency": {
                                                "repetitions": 1
                                            }
                                        },
                                        "type": "Foreach"
                                    },
                                    "Response": {
                                        "inputs": {
                                            "body": "@outputs('Compose_Final_Response')",
                                            "headers": {
                                                "Content-Type": "text/xml"
                                            },
                                            "statusCode": 200
                                        },
                                        "kind": "http",
                                        "runAfter": {
                                            "Compose_Final_Response": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Response"
                                    }
                                },
                                "runAfter": {},
                                "type": "Scope"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "not": {
                                    "equals": [
                                        "@outputs('Execute_SOQL_query_Opportunity')?['statusCode']",
                                        200
                                    ]
                                }
                            }
                        ]
                    },
                    "runAfter": {
                        "Execute_SOQL_query_Opportunity": [
                            "Failed",
                            "Succeeded",
                            "Skipped",
                            "TimedOut"
                        ]
                    },
                    "type": "If"
                },
                "Execute_SOQL_query_Opportunity": {
                    "inputs": {
                        "body": {
                            "query": "select Id,Name,S4SReference_ID__c from Opportunity where @{variables('whereClause')}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['salesForceConnection']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/soql/executesoqlquery"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                }
            },
            "runAfter": {
                "Initialize_variable_ZeroResults": [
                    "Succeeded"
                ],
                "Initialize_variable_fetchCompose": [
                    "Succeeded"
                ],
                "Initialize_variable_fetchResponse": [
                    "Succeeded"
                ],
                "Initialize_variable_finalResponse": [
                    "Succeeded"
                ],
                "Initialize_variable_whereClause": [
                    "Succeeded"
                ],
                "Initialize_variable_whereClauseForfetchOpp": [
                    "Succeeded"
                ]
            },
            "trackedProperties": {
                "apimRouting": "@{coalesce(triggerOutputs()?['headers']?['apimRouting'], 'external')}",
                "citizenName": "c00031",
                "correlationId": "@{coalesce(triggerOutputs()?['headers']?['correlationId'], triggerOutputs()?['headers']?['x-ms-client-tracking-id'], 'not-defined')}",
                "interfaceName": "@{coalesce(triggerOutputs()?['headers']?['interfaceName'], 'Spiridon')}",
                "interfacePartner": "@{coalesce(triggerOutputs()?['headers']?['Username'], 'not-defined')}",
                "interfaceVersion": "@{coalesce(triggerOutputs()?['headers']?['interfaceVersion'], 'not-defined')}",
                "operationName": "@{coalesce(triggerOutputs()?['headers']?['operationName'], 'SearchOpportunity')}",
                "parentWorkflow": "@{coalesce(triggerOutputs()?['headers']?['x-ms-workflow-name'],'not-defined')}",
                "clientCertificateThumbprint": "@{coalesce(triggerOutputs()?['headers']?['client-certificate-thumbprint'],'not-defined')}",
                "clientIPAddress": "@{coalesce(triggerOutputs()?['headers']?['client-ip-address'],'not-defined')}"
            },
            "type": "Scope"
        }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "manual": {
            "inputs": {},
            "kind": "Http",
            "type": "Request"
        }
    }
}