tests/MDG/MDG_SieINT_get/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Check_If_MDG_data_pull_is_succesful": {
        "actions": {
          "Success_Response": {
            "inputs": {
              "body": "@body('call_int_MDG_SF_get')",
              "statusCode": 200
            },
            "kind": "Http",
            "runAfter": {
              "call_int_MDG_SF_get": [
                "Succeeded"
              ]
            },
            "type": "Response"
          },
          "call_int_MDG_SF_get": {
            "inputs": {
              "host": {
                "workflow": {
                  "id": "logic_mdg"
                }
              },
              "body": {
                "CountryList": "@{json(body('Fetch_MDG_Region_Config'))},",
                "Data": "@{body('Pull_data_from_MDG')?['BusinessPartnerEnrichmentFindByCompNameValueResponse']?['Data']}",
                "tokenType": "SieINT"
              },
              "headers": null
            },
            "runAfter": {},
            "type": "Workflow"
          }
        },
        "else": {
          "actions": {
            "Failed_Response": {
              "inputs": {
                "body": "The data pull was not successfull",
                "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {},
              "type": "Response"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@body('Pull_data_from_MDG')?['BusinessPartnerEnrichmentFindByCompNameValueResponse']?['Data']?['ReturnList']?['Return']?['TYPE']",
                "S"
              ]
            }
          ]
        },
        "runAfter": {
          "Pull_data_from_MDG": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Fetch_MDG_Region_Config": {
        "inputs": {
          "host": {
            "workflow": {
              "id": "logic_internal"
            }
          },
          "body": {
            "key": "MDG-region-config"
          },
          "headers": null
        },
        "runAfter": {},
        "type": "Workflow"
      },
      "Get_MDG_Config": {
        "inputs": {
          "host": {
            "workflow": {
              "id": "logic_internal"
            }
          },
          "body": {
            "key": "mdg-config"
          },
          "headers": null
        },
        "runAfter": {},
        "type": "Workflow"
      },
      "Get_SieINT_Token": {
        "inputs": {
          "host": {
            "workflow": {
              "id": "logic_getsfoauthtoken}"
            }
          },
          "body": {
            "tokenType": "SieINT"
          },
          "headers": null
        },
        "runAfter": {},
        "type": "Workflow"
      },
      "LiquidTransformer": {
        "inputs": {
          "body": {
            "Country": "@triggerBody()?['Country']",
            "Name": "@triggerBody()?['Sender']",
            "input": "@json(body('Get_MDG_Config'))"
          },
          "function": {
            "connectionName": "Liquid"
          },
          "headers": {
            "Accept": "application/json",
            "Content-Type": "application/json",
            "Filename": "MDGToSalesforceRequestTransformation"
          },
          "method": "POST"
        },
        "runAfter": {
          "Fetch_MDG_Region_Config": [
            "Succeeded"
          ],
          "Get_MDG_Config": [
            "Succeeded"
          ],
          "Get_SieINT_Token": [
            "Succeeded"
          ],
          "fetch_SieSalesCRM-certificate": [
            "Succeeded"
          ],
          "fetch_SieSalesCRM-certificate-password": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "Pull_data_from_MDG": {
        "inputs": {
          "authentication": {
            "password": "@body('fetch_SieSalesCRM-certificate-password')",
            "pfx": "@body('fetch_SieSalesCRM-certificate')",
            "type": "ClientCertificate"
          },
          "body": "@body('LiquidTransformer')?['body']",
          "method": "POST",
          "uri": "@{body('LiquidTransformer')?['MDGToSFGETURL']}"
        },
        "runAfter": {
          "LiquidTransformer": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "fetch_SieSalesCRM-certificate": {
        "inputs": {
          "host": {
            "workflow": {
              "id": "logic_internal"
            }
          },
          "body": {
            "key": "SieSalesCRM-certificate"
          },
          "headers": null
        },
        "runAfter": {},
        "type": "Workflow"
      },
      "fetch_SieSalesCRM-certificate-password": {
        "inputs": {
          "host": {
            "workflow": {
              "id": "logic_internal"
            }
          },
          "body": {
            "key": "SieSalesCRM-certificate-password"
          },
          "headers": null
        },
        "runAfter": {},
        "type": "Workflow"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "Country": {
              "type": "string"
            },
            "Sender": {
              "type": "string"
            }
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}
