tests/laconversion/devhelp/flow-SFRecordsRemover.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
        "Validation": {
            "actions": {
                "Delete_record": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['salesForceConnection']['connectionId']"
                            }
                        },
                        "method": "delete",
                        "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['sf_object']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['sf_id']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Failed_response": {
                    "inputs": {
                        "body": {
                            "error": true,
                            "message": "@body('Delete_record')"
                        },
                        "statusCode": 400
                    },
                    "kind": "Http",
                    "runAfter": {
                        "Delete_record": [
                            "TimedOut",
                            "Skipped",
                            "Failed"
                        ]
                    },
                    "type": "Response"
                },
                "Successful_response": {
                    "inputs": {
                        "body": {
                            "error": false,
                            "message": "@body('Delete_record')"
                        },
                        "statusCode": 200
                    },
                    "kind": "Http",
                    "runAfter": {
                        "Delete_record": [
                            "Succeeded"
                        ]
                    },
                    "type": "Response"
                }
            },
            "else": {
                "actions": {
                    "Response_2": {
                        "inputs": {
                            "body": {
                                "error": true,
                                "message": "Error: REQUIRED_FIELD_MISSING:Required fields are missing: sf_id"
                            },
                            "statusCode": 400
                        },
                        "kind": "Http",
                        "runAfter": {},
                        "type": "Response"
                    }
                }
            },
            "expression": {
                "and": [
                    {
                        "not": {
                            "equals": [
                                "@triggerBody()?['sf_id']",
                                "@null"
                            ]
                        }
                    },
                    {
                        "not": {
                            "equals": [
                                "@triggerBody()?['sf_id']",
                                "@string('')"
                            ]
                        }
                    }
                ]
            },
            "runAfter": {},
            "type": "If"
        }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "manual": {
            "inputs": {
                "method": "POST",
                "schema": {
                    "properties": {
                        "sf_id": {
                            "type": "string"
                        },
                        "sf_object": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "kind": "Http",
            "type": "Request"
        }
    }
}